.ways
	.container
		h2.title Нам с Вами по пути:
		.row
			//- .col-sm-12.hidden-xs
			//- 	a.ways__link(href="/international/autobus-donetsk-rostov")
			//- 		.ways__block._promo
			//- 			h2.ways__title Донецк - Ростов-на-Дону
			//- 			img.ways__img(src="img/content/city-pattern/rostov.jpg", alt="Автобус Донецк - Ростов")
			//- 			.ways__price-wrapper
			//- 				p.ways__price._promo #{rostovPrice}
			//- 					i.fa.fa-rub
			.col-sm-12.hidden-xs
				noindex
					a.ways__link(href="http://apycomm.com/click/57da4a438b30a83f588b456f/113144/143897/subaccount" rel="nofollow" target="_blank")
						.ways__block._promo
							h2.ways__title Поиск и бронирование дешевых авиабилетов
							img.ways__img(src="img/content/avia.jpg", alt="Поиск и бронирование дешевых авиабилетов")
							.ways__price-wrapper
								p.ways__price._promo от компании партнера Kupibilet.ru
			.col-md-4.col-sm-6.col-xs-12
				a.ways__link(href="/international/autobus-donetsk-orel")
					.ways__block
						h2.ways__title Донецк - Орел
						img.ways__img(src="img/city/orel.jpg", alt="Автобус Донецк - Орел")
						.ways__price-wrapper
							p.ways__price от #{orelPrice}
								i.fa.fa-rub
			.col-md-4.col-sm-6.col-xs-12
				a.ways__link._best-price(href="/international/autobus-donetsk-moskva")
					.ways__block
						h2.ways__title Донецк - Москва
						img.ways__img(src="img/city/moskow.jpg", alt="Автобус Донецк - Москва")
						.ways__price-wrapper
							p.ways__price от #{moskowPrice}
								i.fa.fa-rub
			.col-md-4.col-sm-6.col-xs-12
				a.ways__link._best-way(href="/intercity/autobus-donetsk-kiev")
					.ways__block
						h2.ways__title Донецк - Киев
						img.ways__img(src="img/city/kiev.jpg", alt="Автобус Донецк - Киев")
						.ways__price-wrapper
							p.ways__price от #{kievPrice}
								i.fa.fa-rub
			.col-md-4.col-sm-6.col-xs-12
				a.ways__link._best-way(href="/international/autobus-donetsk-voronej")
					.ways__block
						h2.ways__title Донецк - Воронеж
						img.ways__img(src="img/city/voronej.jpg", alt="Автобус Донецк - Воронеж")
						.ways__price-wrapper
							p.ways__price от #{voronejPrice}
								i.fa.fa-rub
			.col-md-4.col-sm-6.col-xs-12
				a.ways__link._best-way(href="/international/autobus-donetsk-belgorod")
					.ways__block
						h2.ways__title Донецк - Белгород
						img.ways__img(src="img/city/belgorod.jpg", alt="Автобус Донецк - Белгород")
						.ways__price-wrapper
							p.ways__price от #{belgorodPrice}
								i.fa.fa-rub
			.col-md-4.col-sm-6.col-xs-12
				a.ways__link(href="/international/autobus-donetsk-kursk")
					.ways__block
						h2.ways__title Донецк - Курск
						img.ways__img(src="img/city/kursk.jpg", alt="Автобус Донецк - Курск")
						.ways__price-wrapper
							p.ways__price от #{kurskPrice}
								i.fa.fa-rub
			.col-md-4.col-sm-6.col-xs-12
				a.ways__link(href="/international/autobus-moskva-kiev")
					.ways__block
						h2.ways__title Москва - Киев
						img.ways__img(src="img/city/kiev.jpg", alt="Автобус Москва - Киев")
						.ways__price-wrapper
							p.ways__price от #{mskKievPrice}
								i.fa.fa-rub
			.col-md-4.col-sm-6.col-xs-12
				a.ways__link(href="/international/autobus-donetsk-volgograd")
					.ways__block
						h2.ways__title Донецк - Волгоград
						img.ways__img(src="img/city/volgograd.jpg", alt="Автобус Донецк - Волгоград")
						.ways__price-wrapper
							p.ways__price от #{volgogradPrice}
								i.fa.fa-rub
			.col-md-4.col-sm-6.col-xs-12
				a.ways__link._best-price(href="/international/autobus-donetsk-tula")
					.ways__block
						h2.ways__title Донецк - Тула
						img.ways__img(src="img/city/tula.jpg", alt="Автобус Донецк - Тула")
						.ways__price-wrapper
							p.ways__price от #{tulaPrice}
								i.fa.fa-rub
			.col-md-4.col-sm-6.col-xs-12.visible-sm
				a.ways__link(href="/international/autobus-kiev-yalta")
					.ways__block
						h2.ways__title Киев - Ялта
						img.ways__img(src="img/city/yalta.jpg", alt="Автобус Киев - Ялта")
						.ways__price-wrapper
							p.ways__price от #{kievKrimPrice}
								|  грн