.ways
	.container
		p.title <strong>Нам с Вами по пути:</strong>
		.row
			.col-sm-12.hidden-xs
				a.ways__link(href="/international/autobus-donetsk-sankt-peterburg")
					.ways__block._promo
						h2.ways__title Донецк - Санкт-Петербург
						img.ways__img(src="img/city/piter.jpg", alt="Автобус Донецк - Санкт-Петербург")
						.ways__price-wrapper
							p.ways__price._promo от #{piterPrice}
								i.fa.fa-rub
			.col-md-4.col-sm-6.col-xs-12
				a.ways__link(href="/international/autobus-donetsk-moskva")
					.ways__block
						.ways__block-badge
							.ways__block-badge-item.ways__block-badge-item-red
								i.fa.fa-percent.fa-lg  
								span Гарантия лучшей цены
						h2.ways__title Донецк - Москва
						img.ways__img(src="img/city/moskow.jpg", alt="Автобус Донецк - Москва")
						.ways__price-wrapper
							p.ways__price от #{moskowPrice}
								i.fa.fa-rub
			.col-md-4.col-sm-6.col-xs-12
				a.ways__link(href="/international/autobus-kharkov-kursk")
					.ways__block
						.ways__block-badge
							.ways__block-badge-item.ways__block-badge-item-orange
								i.fa.fa-thumbs-o-up.fa-lg 
								span Маршрут месяца
						h2.ways__title Харьков - Курск
						img.ways__img(src="img/city/kursk.jpg", alt="Автобус Харьков - Курск")
						.ways__price-wrapper
							p.ways__price от #{kharkovKursk}
								i.fa.fa-rub
			.col-md-4.col-sm-6.col-xs-12
				a.ways__link(href="/international/autobus-donetsk-belgorod")
					.ways__block
						.ways__block-badge
							.ways__block-badge-item.ways__block-badge-item-red
								i.fa.fa-percent.fa-lg  
								span Гарантия лучшей цены
						h2.ways__title Донецк - Белгород
						img.ways__img(src="img/city/belgorod.jpg", alt="Автобус Донецк - Белгород")
						.ways__price-wrapper
							p.ways__price от #{belgorodPrice}
								i.fa.fa-rub
			.col-md-4.col-sm-6.col-xs-12
				a.ways__link(href="/international/autobus-donetsk-minsk")
					.ways__block
						.ways__block-badge
							.ways__block-badge-item.ways__block-badge-item-blue
								i.fa.fa-road.fa-lg  
								span Новое направление
						h2.ways__title Донецк - Минск
						img.ways__img(src="img/city/minsk.jpg", alt="Автобус Донецк - Минск")
						.ways__price-wrapper
							p.ways__price от #{minskPrice}
								i.fa.fa-rub
			.col-md-4.col-sm-6.col-xs-12
				a.ways__link(href="/international/autobus-donetsk-orel")
					.ways__block
						.ways__block-badge
							.ways__block-badge-item.ways__block-badge-item-orange
								i.fa.fa-thumbs-o-up.fa-lg 
								span Маршрут месяца
						h2.ways__title Донецк - Орел
						img.ways__img(src="img/city/orel.jpg", alt="Автобус Донецк - Орел")
						.ways__price-wrapper
							p.ways__price от #{orelPrice}
								i.fa.fa-rub
			.col-md-4.col-sm-6.col-xs-12
				a.ways__link(href="/intercity/autobus-donetsk-kiev")
					.ways__block
						.ways__block-badge
							.ways__block-badge-item.ways__block-badge-item-orange
								i.fa.fa-thumbs-o-up.fa-lg 
								span Маршрут месяца
						h2.ways__title Донецк - Киев
						img.ways__img(src="img/city/kiev.jpg", alt="Автобус Донецк - Киев")
						.ways__price-wrapper
							p.ways__price от #{kievPrice}
								i.fa.fa-rub
			.col-md-4.col-sm-6.col-xs-12
				a.ways__link(href="/international/autobus-donetsk-mogilev")
					.ways__block
						.ways__block-badge
							.ways__block-badge-item.ways__block-badge-item-blue
								i.fa.fa-road.fa-lg  
								span Новое направление
						h2.ways__title Донецк - Могилёв
						img.ways__img(src="img/city/mog.jpg", alt="Автобус Донецк - Могилёв")
						.ways__price-wrapper
							p.ways__price от #{mogPrice}
								i.fa.fa-rub
			.col-md-4.col-sm-6.col-xs-12
				a.ways__link(href="/international/autobus-moskva-kiev")
					.ways__block
						.ways__block-badge
							.ways__block-badge-item.ways__block-badge-item-red
								i.fa.fa-percent.fa-lg  
								span Гарантия лучшей цены
						h2.ways__title Москва - Киев
						img.ways__img(src="img/city/kiev.jpg", alt="Автобус Москва - Киев")
						.ways__price-wrapper
							p.ways__price от #{mskKievPrice}
								i.fa.fa-rub
			.col-md-4.col-sm-6.col-xs-12
				a.ways__link(href="/international/autobus-donetsk-samara")
					.ways__block
						.ways__block-badge
							.ways__block-badge-item.ways__block-badge-item-blue
								i.fa.fa-road.fa-lg  
								span Новое направление
						h2.ways__title Донецк - Самара
						img.ways__img(src="img/city/samara.jpg", alt="Автобус Донецк - Самара")
						.ways__price-wrapper
							p.ways__price от #{samaraPrice}
								i.fa.fa-rub