extends ../_layout
block append head
	meta(description="Билеты на автобус Крым-Киев. Доступные цены, скидки детым. Удобное расписание, комфортабельные автобусы.")
	meta(keywords="автобус Киев крым, Киев крым, крым Киев автобус")
	meta(name="robots" content="noodp")
	meta(property="og:locale" content="ru_RU")
	meta(property="og:type" content="website")
	meta(property="og:title" content="Автобус Крым - Киев. Онлайн бронирование билетов, актуальное расписание, низкие цены.")
	meta(property="og:description" content="Билеты на автобус Крым-Киев. Доступные цены, скидки детым. Удобное расписание, комфортабельные автобусы.")
	meta(property="og:url" content="https://vseputi.com.ua/crimea/autobus-crimea-kiev")
	meta(property="og:site_name" content="Всепути - Купить билет на автобус онлайн, заказать автобусный билет.")
	meta(property="og:image" content="https://vseputi.com.ua/img/content/city-pattern/kiev.jpg")
	meta(name="twitter:card" content="summary_large_image")
	meta(name="twitter:site" content="@vseputi")
	meta(name="twitter:title" content="Автобус Крым - Киев. Онлайн бронирование билетов, актуальное расписание, низкие цены.")
	meta(name="twitter:description" content="Билеты на автобус Крым-Киев. Доступные цены, скидки детым. Удобное расписание, комфортабельные автобусы.")
	meta(name="twitter:image:src" content="https://vseputi.com.ua/img/content/city-pattern/kiev.jpg")
	title Автобус Крым - Киев. Онлайн бронирование билетов, актуальное расписание, низкие цены.
block content
	.container
		.row
			.col-sm-12.col-xs-12
				.breadcrumbs.hidden-xs
					ul.breadcrumbs__list(itemscope itemtype="https://data-vocabulary.org/Breadcrumb")
						li.breadcrumbs__item
							a.breadcrumbs__link(href="/" itemprop="url" title="Главная")
								span(itemprop="title") Главная
						li.breadcrumbs__item
							a.breadcrumbs__link(href="/crimea/" itemprop="url" title="Крымское направление")
								span(itemprop="title") Крымское направление
						li.breadcrumbs__item
							span.breadcrumbs__link.current Автобус Крым - Киев
		.row
			.col-sm-12.col-xs-12
				h1.main__title.service__main-title Автобус Крым - Киев
		.row
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-sevastopol-kiev")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{sevasKiev} 
									i.fa.fa-rub
							img.service__img(src="/img/crimea/sevastopol.jpg", alt="Автобус Севастополь - Киев")
						.service__block-bottom
							p.service__subtitle Севастополь - Киев
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-simferopol-kiev")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{simfKiev} 
									i.fa.fa-rub
							img.service__img(src="/img/crimea/simferopol.jpg", alt="Автобус Симферополь - Киев")
						.service__block-bottom
							p.service__subtitle Симферополь - Киев
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-yalta-kiev")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{yaltaKiev} 
									i.fa.fa-rub
							img.service__img(src="/img/crimea/yalta.jpg", alt="Автобус Ялта - Киев")
						.service__block-bottom
							p.service__subtitle Ялта - Киев
		.row
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-alushta-kiev")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{alushtaKiev} 
									i.fa.fa-rub
							img.service__img(src="/img/crimea/alushta.jpg", alt="Автобус Алушта - Киев")
						.service__block-bottom
							p.service__subtitle Алушта - Киев
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-djankoy-kiev")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{djankoyKiev} 
									i.fa.fa-rub
							img.service__img(src="/img/crimea/djankoy.jpg", alt="Автобус Джанкой - Киев")
						.service__block-bottom
							p.service__subtitle Джанкой - Киев
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-kerch-kiev")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{kerchKiev} 
									i.fa.fa-rub
							img.service__img(src="/img/crimea/kerch.jpg", alt="Автобус Керчь - Киев")
						.service__block-bottom
							p.service__subtitle Керчь - Киев
		.row
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-feodosiya-kiev")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{feodKiev} 
									i.fa.fa-rub
							img.service__img(src="/img/crimea/feodosiya.jpg", alt="Автобус Феодосия - Киев")
						.service__block-bottom
							p.service__subtitle Феодосия - Киев
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-evpatoria-kiev")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{evpatKiev} 
									i.fa.fa-rub
							img.service__img(src="/img/crimea/evpatoria.jpg", alt="Автобус Евпатория - Киев")
						.service__block-bottom
							p.service__subtitle Евпатория - Киев
	include ../includes/modules/_share
	.description
		.container
			.toggle-block__text
				h2.description__title Автобус Крым - Киев
				p.description__text Уезжая на отдых в Крым, обязательно позаботьтесь об обратном маршруте в Киев. Уехать в запланированную дату и при этом не терять драгоценные часы отдыха вам поможет онлайн бронирование билетов на автобус Крым - Киев. Компания «Vseputi» сотрудничает с надежными транспортными фирмами и опытными перевозчиками, предоставляющими комфортабельные и исправные автобусы. В пути будут создавать комфорт TV, Wi-Fi, климат контроль, мягкие, удобные сиденья с регулируемыми спинками. О наличие на том или ином рейсе Wi-Fi уточняйте у диспетчера.
				h2.description__title Бронирование билетов Крым - Донецк онлайн
				p.description__text Ничего проще, нежели онлайн бронирование билетов на автобус еще не придумали, этот процесс займет всего несколько минут, после останется лишь подтвердить заявку в телефонном режиме. Выберите город, в котором будете осуществлять посадку на автобус, определитесь со временем отправления и нажимайте кнопку «Забронировать». Далее заполняем маленькую форму, обязательно проверьте контактный номер телефона, по которому диспетчер будет звонить для подтверждения заказа. Если номер будет неверным или отключенным, не подтвердив заявку, бронирование автоматически будет аннулировано. Вы так же можете оставить заявку на бронирование мест в автобусе Крым - Донецк, позвонив по номерам телефонов указанных на нашем сайте.
				h2.description__title Расписание автобуса Крым - Киев и цена билетов
				p.description__text С расписанием автобусов из Крыма в Донецк можно ознакомиться на страницах сайта выбрав при этом нужный город отправления (Севастополь, Феодосия, Ялта, Алушта, Керчь, Симферополь). Если города, из которого вы хотели бы выехать, в списке нет, позвоните по горячей линии, и уточните у диспетчера можно ли забрать вас из города не входящего в список. Рядом со временем отправления написано место отправления, однако чтобы наши клиенты не путались и не волновались, за сутки до отправления с пассажирами, бронирующими билет, связывается диспетчер или непосредственно водитель автобуса и обсуждает точное место посадки на рейс.
				p.description__text Наряду со временем отправления можно выбрать тот рейс, который устраивает вас в ценовом диапазоне. Обратите внимание, что цена билета может меняться от наличия на рейсе пересадки на границе Крым - Украина. Для наших маленьких пассажиров (до 12 лет) предоставляется скидка в размере половины стоимости билета. О возможности путешествия с животными уточняйте информацию у диспетчера компании. Время в пути по маршруту Крым - Киев зависит от города отправления и прибытия, а так же от работы пограничного пункта.