extends ../_layout
block append head
	meta(description="Билеты на автобус Донецк-Крым. Доступные цены, скидки детым. Удобное расписание, комфортабельные автобусы.")
	meta(keywords="автобус донецк крым, донецк крым, крым донецк автобус")
	meta(name="robots" content="noodp")
	meta(property="og:locale" content="ru_RU")
	meta(property="og:type" content="website")
	meta(property="og:title" content="Автобус Донецк - Крым. Онлайн бронирование билетов, актуальное расписание, низкие цены.")
	meta(property="og:description" content="Билеты на автобус Донецк-Крым. Доступные цены, скидки детым. Удобное расписание, комфортабельные автобусы.")
	meta(property="og:url" content="https://vseputi.com.ua/crimea/autobus-donetsk-crimea")
	meta(property="og:site_name" content="Всепути - Купить билет на автобус онлайн, заказать автобусный билет.")
	meta(property="og:image" content="https://vseputi.com.ua/img/crimea/crimea.jpg")
	meta(name="twitter:card" content="summary_large_image")
	meta(name="twitter:site" content="@vseputi")
	meta(name="twitter:title" content="Автобус Донецк - Крым. Онлайн бронирование билетов, актуальное расписание, низкие цены.")
	meta(name="twitter:description" content="Билеты на автобус Донецк-Крым. Доступные цены, скидки детым. Удобное расписание, комфортабельные автобусы.")
	meta(name="twitter:image:src" content="https://vseputi.com.ua/img/crimea/crimea.jpg")
	title Автобус Донецк - Крым. Онлайн бронирование билетов, актуальное расписание, низкие цены.
block content
	.container
		.row
			.col-sm-12.col-xs-12
				.breadcrumbs.hidden-xs
					ul.breadcrumbs__list(itemscope itemtype="https://data-vocabulary.org/Breadcrumb")
						li.breadcrumbs__item
							a.breadcrumbs__link(href="/" itemprop="url" title="Главная")
								span(itemprop="title") Главная
						li.breadcrumbs__item
							a.breadcrumbs__link(href="/crimea/" itemprop="url" title="Крымское направление")
								span(itemprop="title") Крымское направление
						li.breadcrumbs__item
							span.breadcrumbs__link.current Автобус Донецк - Крым
		.row
			.col-sm-12.col-xs-12
				h1.main__title.service__main-title Автобус Донецк - Крым
		p.description__text Для осуществления бронирования билета уйдет не более двух минут, определившись с датой поездки, поспешите оставить заявку. С вами свяжется наш диспетчер для подтверждения, а за день до отправления поступит звонок с уведомлением о номере автобуса и точном месте посадки. Спрос на автобус Донецк - Крым велик, поэтому старайтесь заблаговременно бронировать нужное количество мест.
		br
		.row
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-donetsk-alushta")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{alushtaPrice}
									i.fa.fa-rub
							img.service__img(src="/img/crimea/alushta.jpg", alt="Автобус Донецк - Алушта")
						.service__block-bottom
							p.service__subtitle Донецк - Алушта
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-donetsk-feodosiya")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{feodosiyaPrice}
									i.fa.fa-rub
							img.service__img(src="/img/crimea/feodosiya.jpg", alt="Автобус Донецк - Феодосия")
						.service__block-bottom
							p.service__subtitle Донецк - Феодосия
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-donetsk-kerch")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{kerchPrice}
									i.fa.fa-rub
							img.service__img(src="/img/crimea/kerch.jpg", alt="Автобус Донецк - Керчь")
						.service__block-bottom
							p.service__subtitle Донецк - Керчь
		.row
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-donetsk-sevastopol")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{sevastopolPrice}
									i.fa.fa-rub
							img.service__img(src="/img/crimea/sevastopol.jpg", alt="Автобус Донецк - Севастополь")
						.service__block-bottom
							p.service__subtitle Донецк - Севастополь
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-donetsk-simferopol")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{simferopolPrice}
									i.fa.fa-rub
							img.service__img(src="/img/crimea/simferopol.jpg", alt="Автобус Донецк - Симферополь")
						.service__block-bottom
							p.service__subtitle Донецк - Симферополь
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-donetsk-yalta")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{yaltaPrice}
									i.fa.fa-rub
							img.service__img(src="/img/crimea/yalta.jpg", alt="Автобус Донецк - Ялта")
						.service__block-bottom
							p.service__subtitle Донецк - Ялта
		.row
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-donetsk-evpatoria")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{evpatoriaPrice}
									i.fa.fa-rub
							img.service__img(src="/img/crimea/evpatoria.jpg", alt="Автобус Донецк - Евпатория")
						.service__block-bottom
							p.service__subtitle Донецк - Евпатория
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-gorlovka-simferopol")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{gorSimferopolPrice}
									i.fa.fa-rub
							img.service__img(src="/img/crimea/simferopol.jpg", alt="Автобус Горловка - Симферополь")
						.service__block-bottom
							p.service__subtitle Горловка - Симферополь
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-gorlovka-yalta")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{gorYaltaPrice}
									i.fa.fa-rub
							img.service__img(src="/img/crimea/yalta.jpg", alt="Автобус Горловка - Ялта")
						.service__block-bottom
							p.service__subtitle Горловка - Ялта
		.row
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-gorlovka-alushta")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{gorAlushtaPrice}
									i.fa.fa-rub
							img.service__img(src="/img/crimea/alushta.jpg", alt="Автобус Горловка - Алушта")
						.service__block-bottom
							p.service__subtitle Горловка - Алушта
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-gorlovka-feodosiya")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{gorFeodosiyaPrice}
									i.fa.fa-rub
							img.service__img(src="/img/crimea/feodosiya.jpg", alt="Автобус Горловка - Феодосия")
						.service__block-bottom
							p.service__subtitle Горловка - Феодосия
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-gorlovka-kerch")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{gorKerchPrice}
									i.fa.fa-rub
							img.service__img(src="/img/crimea/kerch.jpg", alt="Автобус Горловка - Керчь")
						.service__block-bottom
							p.service__subtitle Горловка - Керчь
		.row
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-gorlovka-sevastopol")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{gorSevastopolPrice}
									i.fa.fa-rub
							img.service__img(src="/img/crimea/sevastopol.jpg", alt="Автобус Горловка - Севастополь")
						.service__block-bottom
							p.service__subtitle Горловка - Севастополь
	include ../includes/modules/_share