extends ../_layout
block append head
	meta(description="Билеты на автобус Киев-Крым. Доступные цены, скидки детым. Удобное расписание, комфортабельные автобусы.")
	meta(keywords="автобус Киев крым, Киев крым, крым Киев автобус")
	meta(name="robots" content="noodp")
	meta(property="og:locale" content="ru_RU")
	meta(property="og:type" content="website")
	meta(property="og:title" content="Автобус Киев - Крым. Онлайн бронирование билетов, актуальное расписание, низкие цены.")
	meta(property="og:description" content="Билеты на автобус Киев-Крым. Доступные цены, скидки детым. Удобное расписание, комфортабельные автобусы.")
	meta(property="og:url" content="https://vseputi.com.ua/crimea/autobus-kiev-crimea")
	meta(property="og:site_name" content="Всепути - Купить билет на автобус онлайн, заказать автобусный билет.")
	meta(property="og:image" content="https://vseputi.com.ua/img/crimea/crimea.jpg")
	meta(name="twitter:card" content="summary_large_image")
	meta(name="twitter:site" content="@vseputi")
	meta(name="twitter:title" content="Автобус Киев - Крым. Онлайн бронирование билетов, актуальное расписание, низкие цены.")
	meta(name="twitter:description" content="Билеты на автобус Киев-Крым. Доступные цены, скидки детым. Удобное расписание, комфортабельные автобусы.")
	meta(name="twitter:image:src" content="https://vseputi.com.ua/img/crimea/crimea.jpg")
	title Автобус Киев - Крым. Онлайн бронирование билетов, актуальное расписание, низкие цены.
block content
	.container
		.row
			.col-sm-12.col-xs-12
				.breadcrumbs.hidden-xs
					ul.breadcrumbs__list(itemscope itemtype="https://data-vocabulary.org/Breadcrumb")
						li.breadcrumbs__item
							a.breadcrumbs__link(href="/" itemprop="url" title="Главная")
								span(itemprop="title") Главная
						li.breadcrumbs__item
							a.breadcrumbs__link(href="/crimea/" itemprop="url" title="Крымское направление")
								span(itemprop="title") Крымское направление
						li.breadcrumbs__item
							span.breadcrumbs__link.current Автобус Киев - Крым
		.row
			.col-sm-12.col-xs-12
				h1.main__title.service__main-title Автобус Киев - Крым
		.row
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-kiev-sevastopol")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{kievSevas} грн
							img.service__img(src="/img/crimea/sevastopol.jpg", alt="Автобус Киев - Севастополь")
						.service__block-bottom
							p.service__subtitle Киев - Севастополь
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-kiev-simferopol")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{kievSimf} грн
							img.service__img(src="/img/crimea/simferopol.jpg", alt="Автобус Киев - Симферополь")
						.service__block-bottom
							p.service__subtitle Киев - Симферополь
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-kiev-yalta")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{kievYalta} грн
							img.service__img(src="/img/crimea/yalta.jpg", alt="Автобус Киев - Ялта")
						.service__block-bottom
							p.service__subtitle Киев - Ялта
		.row
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-kiev-alushta")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{kievAlushta} грн
							img.service__img(src="/img/crimea/alushta.jpg", alt="Автобус Киев - Алушта")
						.service__block-bottom
							p.service__subtitle Киев - Алушта
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-kiev-djankoy")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{kievDjankoy} грн
							img.service__img(src="/img/crimea/djankoy.jpg", alt="Автобус Киев - Джанкой")
						.service__block-bottom
							p.service__subtitle Киев - Джанкой
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-kiev-kerch")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{kievKerch} грн
							img.service__img(src="/img/crimea/kerch.jpg", alt="Автобус Киев - Керчь")
						.service__block-bottom
							p.service__subtitle Киев - Керчь
		.row
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-kiev-feodosiya")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{kievFeod} грн
							img.service__img(src="/img/crimea/feodosiya.jpg", alt="Автобус Киев - Феодосия")
						.service__block-bottom
							p.service__subtitle Киев - Феодосия
			.col-sm-12.col-md-4
				.service__block
					a(href="/international/autobus-kiev-evpatoria")
						.service__block-top
							.ways__price-wrapper.text-right
								p.ways__price от #{kievEvpat} грн
							img.service__img(src="/img/crimea/evpatoria.jpg", alt="Автобус Киев - Евпатория")
						.service__block-bottom
							p.service__subtitle Киев - Евпатория
	include ../includes/modules/_share
	.description
		.container
			.toggle-block__text
				h2.description__title Автобус Киев - Крым
				p.description__text Устали от городской суеты? Поехали в Крым! 
				p.description__text Компания «Vseputi» предоставляет комфортабельные автобусные пассажирские перевозки по направлению Киев - Крым. Вам больше не нужно отрываться от дел и ехать за билетами и отстаивать огромные очереди на автовокзале. Что бы сэкономить ваше время и нервы мы предлагаем вам воспользоваться нашим бронированием билетов в режиме онлайн. 
				h2.description__title Как забронировать билет в Крым?
				p.description__text Что бы забронировать места на автобус Киев - Крым, вам необходимо заполнить максимально простую форму бронирования билетов. Выберите нужный город (Симферополь, Алушта, Ялта, Севастополь, Керчь, Евпатория, Феодосия, Джанкой). Далее на странице необходимо выбрать подходящий рейс и нажать кнопку «Забронировать», после чего заполнить и отправить форму.  Укажите ваше ФИО, нужное количество мест, дату отправления и номер телефона. После этого в течение нескольких часов с вами свяжется наш диспетчер, что бы подтвердить бронирование билетов на автобус Киев - Крым. Как видите, ничего сложного и займет всего пару минут. 
				p.description__text Обращаем ваше внимание, что в разгар сезона билеты разлетаются как горячие пирожки, именно по этому, убедительно просим наших туристов заранее бронировать нужное количество билетов, хотя бы за 5-10 дней. А так же заблаговременно побеспокоиться и заказать обратные билеты на автобус Крым - Киев, что бы максимально оградить свой отдых от лишней суеты.
				h2.description__title Автобус Киев - Крым: расписание, цена билетов, время в пути
				p.description__text Расписание на рейсы Киев - Крым вы можете увидеть на страницах нашего сайта или же уточнить по номерам телефонов указанных в правом верхнем углу сайта. В каждом направлении указано от 2 до 5 рейсов с разным временем отправления и прибытия. Обращаем ваше внимание, что предоставляются рейсы как с пересадкой на границе Киев - Крым, так и без нее. Эта информация указана в таблице расписания в третьей колонке. 
				p.description__text Стоимость билетов на автобус Киев - Крым гораздо ниже, нежели билеты на авиа перелет. Однако она зависит от города прибытия, времени отправления, а также наличие пересадки на границе. Компания «Vseputi» предоставляет нашим маленьким путешественникам скидку на путешествие в лето. Дополнительную информацию уточняйте у диспетчера. 
				p.description__text Напротив каждого рейса указанно примерное количество времени для проезда из Киева в города Крыма, однако стоит учитывать, что точное количество времени обозначить сложно, так как многое зависит от пересечения границы, а так же погодных условий. Так или иначе, компания «Vseputi» сотрудничает только с проверенными транспортными компаниями и опытными перевозчиками со всеми разрешительными документами. Именно поэтому мы готовы обеспечить вам быструю, но при этом максимально безопасную поездку, на комфортабельных и технически исправных автобусах.