.popular
	.container
		h2.title 
			i.fa.fa-road
			| Все наши направления:
		.row
			.col-md-5.col-sm-6.margin-bottom-50
				h3.subtitle в Россию
				block Russia
					.toggle-block
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-donetsk-alushta")
								p.popular__price от #{alushtaPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Алушта
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-donetsk-feodosiya")
								p.popular__price от #{feodosiyaPrice}
									span.rubl a
								p.popular__name
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Феодосия
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-donetsk-kerch")
								p.popular__price от #{kerchPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Керчь
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-donetsk-krasnodar")
								p.popular__price от #{krasnodarPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Краснодар
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-donetsk-moskva")
								p.popular__price от #{moskowPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Москва
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-donetsk-belgorod")
								p.popular__price от #{belgorodPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Белгород
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-donetsk-pavlovsk")
								p.popular__price от #{pavlovskPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Павловск
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-donetsk-rostov")
								p.popular__price от #{rostovPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Ростов
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-donetsk-sevastopol")
								p.popular__price от #{sevastopolPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Севастополь
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-donetsk-simferopol")
								p.popular__price от #{simferopolPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Симферополь
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-donetsk-slavyansk-na-kubani")
								p.popular__price от #{slavyanskNaKubaniPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Славянск на Кубани
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-donetsk-tula")
								p.popular__price от #{tulaPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Тула
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-donetsk-voronej")
								p.popular__price от #{voronejPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Воронеж
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-donetsk-sankt-peterburg")
								p.popular__price от #{piterPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Санкт-Петербург
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-donetsk-yalta")
								p.popular__price от #{yaltaPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Ялта
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-gorlovka-alushta")
								p.popular__price от #{gorAlushtaPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Горловка
									|  - 
									span(cityTo) Алушта
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-gorlovka-feodosiya")
								p.popular__price от #{gorFeodosiyaPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Горловка
									|  - 
									span(cityTo) Феодосия
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-gorlovka-kerch")
								p.popular__price от #{gorKerchPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Горловка
									|  - 
									span(cityTo) Керчь
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-gorlovka-rostov")
								p.popular__price от #{gorRostovPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Горловка
									|  - 
									span(cityTo) Ростов
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-gorlovka-sevastopol")
								p.popular__price от #{sevastopolPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Горловка
									|  - 
									span(cityTo) Севастополь
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-gorlovka-simferopol")
								p.popular__price от #{gorSimferopolPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Горловка
									|  - 
									span(cityTo) Симферополь
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-gorlovka-slavyansk-na-kubani")
								p.popular__price от #{slavyanskNaKubaniPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Горловка
									|  - 
									span(cityTo) Славянск на Кубани
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-gorlovka-yalta")
								p.popular__price от #{yaltaPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Горловка
									|  - 
									span(cityTo) Ялта
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-kiev-sevastopol")
								p.popular__price от #{kievKrimPrice}
									|  грн
								p.popular__name 
									span(cityFrom) Киев
									|  - 
									span(cityTo) Севастополь
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-kiev-simferopol")
								p.popular__price от #{kievKrimPrice}
									|  грн
								p.popular__name 
									span(cityFrom) Киев
									|  - 
									span(cityTo) Симферополь
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-kiev-yalta")
								p.popular__price от #{kievKrimPrice}
									|  грн
								p.popular__name 
									span(cityFrom) Киев
									|  - 
									span(cityTo) Ялта
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-kiev-alushta")
								p.popular__price от #{kievKrimPrice}
									|  грн
								p.popular__name 
									span(cityFrom) Киев
									|  - 
									span(cityTo) Алушта
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-alushta-kiev")
								p.popular__price от #{krimKievPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Алушта
									|  - 
									span(cityTo) Киев
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-sevastopol-kiev")
								p.popular__price от #{krimKievPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Севастополь
									|  - 
									span(cityTo) Киев
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-simferopol-kiev")
								p.popular__price от #{krimKievPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Симферополь
									|  - 
									span(cityTo) Киев
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-yalta-kiev")
								p.popular__price от #{krimKievPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Ялта
									|  - 
									span(cityTo) Киев
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/international/autobus-sankt-peterburg-donetsk")
								p.popular__price от #{piterDonPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Санкт-Петербург
									|  - 
									span(cityTo) Донецк
				.text-center
					a.toggle-link(href="#") Еще маршруты
			.col-md-5.col-md-offset-2.col-sm-6.margin-bottom-50
				h3.subtitle по Украине
				block Ukraine
					.toggle-block
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-donetsk-borispol")
								p.popular__price от #{borispolPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Борисполь
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-donetsk-dimitrovo")
								p.popular__price от #{dimitrovoPrice}
									|  грн
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Димитрово
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-donetsk-dnepropetrovsk")
								p.popular__price от #{dneprPrice}
									|  грн
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Днепропетровск
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-donetsk-dobropolye")
								p.popular__price от #{dobropolyePrice}
									|  грн
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Доброполье
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-donetsk-izum")
								p.popular__price от #{izumPrice}
									|  грн
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Изюм
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-donetsk-kharkov")
								p.popular__price от #{kharkovPrice}
									|  грн
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Харьков
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-donetsk-kiev")
								p.popular__price от #{kievPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Киев
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-donetsk-konstantinovka")
								p.popular__price от #{konstantinovkaPrice}
									|  грн
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Константиновка
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-donetsk-kramatorsk")
								p.popular__price от #{kramatorskPrice}
									|  грн
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Краматорск
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-donetsk-krasnoarmeysk")
								p.popular__price от #{krasnoarmeyskPrice}
									|  грн
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Красноармейск
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-donetsk-krasnograd")
								p.popular__price от #{krasnogradPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Красноград
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-donetsk-kurahovo")
								p.popular__price от #{kurahovoPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Курахово
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-donetsk-lubni")
								p.popular__price от #{lubniPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Лубны
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-donetsk-mariupol")
								p.popular__price от #{mariupolPrice}
									|  грн
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Мариуполь
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-donetsk-novomoskovsk")
								p.popular__price от #{novomoskovskPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Новомосковск
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-donetsk-pavlograd")
								p.popular__price от #{pavlogradPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Павлоград
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-donetsk-piryatin")
								p.popular__price от #{piryatinPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Пирятин
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-donetsk-poltava")
								p.popular__price от #{poltavaPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Полтава
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-donetsk-selidovo")
								p.popular__price от #{selidovoPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Селидово
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-donetsk-slavyansk")
								p.popular__price от #{slavyanskPrice}
									|  грн
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Славянск
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-donetsk-volnovaha")
								p.popular__price от #{volnovahaPrice}
									|  грн
								p.popular__name 
									span(cityFrom) Донецк
									|  - 
									span(cityTo) Волноваха
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-kiev-donetsk")
								p.popular__price от #{kievDonPrice}
									span.rubl a
								p.popular__name 
									span(cityFrom) Киев
									|  - 
									span(cityTo) Донецк
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-dnepropetrovsk-donetsk")
								p.popular__price от #{dnepropetrovskDonPrice}
									|  грн
								p.popular__name 
									span(cityFrom) Днепропетровск
									|  - 
									span(cityTo) Донецк
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-krasnoarmeysk-donetsk")
								p.popular__price от #{krasnoarmeyskDonPrice}
									|  грн
								p.popular__name 
									span(cityFrom) Красноармейск
									|  - 
									span(cityTo) Донецк
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-krasnograd-donetsk")
								p.popular__price от #{krasnoarmeyskDonPrice}
									|  грн
								p.popular__name 
									span(cityFrom) Красноград
									|  - 
									span(cityTo) Донецк
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-lubni-donetsk")
								p.popular__price от #{lubniDonPrice}
									|  грн
								p.popular__name 
									span(cityFrom) Лубны
									|  - 
									span(cityTo) Донецк
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-mariupol-donetsk")
								p.popular__price от #{mariupolDonPrice}
									|  грн
								p.popular__name 
									span(cityFrom) Мариуполь
									|  - 
									span(cityTo) Донецк
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-novomoskovsk-donetsk")
								p.popular__price от #{novomoskovskDonPrice}
									|  грн
								p.popular__name 
									span(cityFrom) Новомосковск
									|  - 
									span(cityTo) Донецк
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-pavlograd-donetsk")
								p.popular__price от #{pavlogradDonPrice}
									|  грн
								p.popular__name 
									span(cityFrom) Павлоград
									|  - 
									span(cityTo) Донецк
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-piryatin-donetsk")
								p.popular__price от #{piryatinDonPrice}
									|  грн
								p.popular__name 
									span(cityFrom) Пирятин
									|  - 
									span(cityTo) Донецк
						.popular__block
							i.fa.fa-lg.fa-map-signs
							a.popular__link(href="/intercity/autobus-poltava-donetsk")
								p.popular__price от #{poltavaDonPrice}
									|  грн
								p.popular__name 
									span(cityFrom) Полтава
									|  - 
									span(cityTo) Донецк
				.text-center
					a.toggle-link(href="#") Еще маршруты