meta(name="description" content="Автобус #{city}, пассажирские перевозки. Расписание автобусов #{city}. Заказ и бронирование билетов на автобус #{city} онлайн")
meta(name="keywords" content="пассажирские перевозки #{city}, автобус #{city}, цена билета на автобус #{city}, билеты на автобус #{city}, Расписание автобусов #{city}")

meta(name="robots" content="noodp")
meta(property="og:locale" content="ru_RU")
meta(property="og:type" content="website")
meta(property="og:title" content="Автобус #{city}, пассажирские перевозки. Расписание автобусов #{city}. Купить билеты на автобус #{city}.")
meta(property="og:description" content="Автобус #{city}, пассажирские перевозки. Расписание автобусов #{city}. Заказ и бронирование билетов на автобус #{city} онлайн")
//- meta(property="og:url" content="http://vseputi.com.ua/")
meta(property="og:site_name" content="Всепути - Купить билеты на автобус из Донецка в города Украины и России.")
- if (pageImg) {
	meta(property="og:image" content="#{pageImg}")
- } else {
	meta(property="og:image" content="http://vseputi.com.ua/img/content/main-pattern.jpg")
-}

title Автобус #{city}, пассажирские перевозки. Расписание автобусов #{city}. Купить билеты на автобус #{city}.