meta(description="Автобус #{city}, пассажирские перевозки. Расписание автобусов #{city}. Заказ и бронирование билетов на автобус #{city} онлайн")
meta(keywords="пассажирские перевозки #{city}, автобус #{city}, цена билета на автобус #{city}, билеты на автобус #{city}, Расписание автобусов #{city}")
title Автобус #{city}, пассажирские перевозки. Расписание автобусов #{city}. Купить билеты на автобус #{city}.