.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-alushta")
		p.popular__price от #{alushtaPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Алушта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-feodosiya")
		p.popular__price от #{feodosiyaPrice}
			span.rubl a
		p.popular__name
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Феодосия
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-kerch")
		p.popular__price от #{kerchPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Керчь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-krasnodar")
		p.popular__price от #{krasnodarPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Краснодар
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-moskva")
		p.popular__price от #{moskowPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Москва
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-belgorod")
		p.popular__price от #{belgorodPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Белгород
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-pavlovsk")
		p.popular__price от #{pavlovskPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Павловск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-rostov")
		p.popular__price от #{rostovPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Ростов
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-sevastopol")
		p.popular__price от #{sevastopolPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Севастополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-simferopol")
		p.popular__price от #{simferopolPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Симферополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-slavyansk-na-kubani")
		p.popular__price от #{slavyanskNaKubaniPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Славянск на Кубани
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-tula")
		p.popular__price от #{tulaPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Тула
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-voronej")
		p.popular__price от #{voronejPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Воронеж
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-sankt-peterburg")
		p.popular__price от #{piterPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Санкт-Петербург
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-yalta")
		p.popular__price от #{yaltaPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Ялта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-alushta")
		p.popular__price от #{gorAlushtaPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Алушта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-feodosiya")
		p.popular__price от #{gorFeodosiyaPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Феодосия
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-kerch")
		p.popular__price от #{gorKerchPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Керчь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-rostov")
		p.popular__price от #{gorRostovPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Ростов
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-sevastopol")
		p.popular__price от #{sevastopolPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Севастополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-simferopol")
		p.popular__price от #{gorSimferopolPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Симферополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-slavyansk-na-kubani")
		p.popular__price от #{slavyanskNaKubaniPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Славянск на Кубани
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-yalta")
		p.popular__price от #{yaltaPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Ялта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-sevastopol")
		p.popular__price от #{kievKrimPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Севастополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-simferopol")
		p.popular__price от #{kievKrimPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Симферополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-yalta")
		p.popular__price от #{kievKrimPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Ялта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-alushta")
		p.popular__price от #{kievKrimPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Алушта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-alushta-kiev")
		p.popular__price от #{krimKievPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Алушта
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-sevastopol-kiev")
		p.popular__price от #{krimKievPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Севастополь
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-simferopol-kiev")
		p.popular__price от #{krimKievPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Симферополь
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-yalta-kiev")
		p.popular__price от #{krimKievPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Ялта
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-sankt-peterburg-donetsk")
		p.popular__price от #{piterDonPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Санкт-Петербург
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-tula-donetsk")
		p.popular__price от #{tulaDonPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Тула
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-sevastopol-donetsk")
		p.popular__price от #{sevastopolDonPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Севастополь
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-alushta-donetsk")
		p.popular__price от #{alushtaDonPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Алушта
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-belgorod-donetsk")
		p.popular__price от #{belgorodDonPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Белгород
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-feodosiya-donetsk")
		p.popular__price от #{feodosiyaDonPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Феодосия
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-yalta-donetsk")
		p.popular__price от #{yaltaDonPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Ялта
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kerch-donetsk")
		p.popular__price от #{kerchDonPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Керчь
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-krasnodar-donetsk")
		p.popular__price от #{krasnodarDonPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Краснодар
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-pavlovsk-donetsk")
		p.popular__price от #{pavlovskDonPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Павловск
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-rostov-donetsk")
		p.popular__price от #{rostovDonPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Ростов
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-simferopol-donetsk")
		p.popular__price от #{simferopolDonPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Симферополь
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-slavyansk-na-kubani-donetsk")
		p.popular__price от #{slavyanskNaKubaniDonPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Славянск на Кубани
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-alushta-gorlovka")
		p.popular__price от #{alushtaGorPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Алушта
			|  - 
			span(cityTo) Горловка
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-yalta-gorlovka")
		p.popular__price от #{yaltaGorPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Ялта
			|  - 
			span(cityTo) Горловка
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-feodosiya-gorlovka")
		p.popular__price от #{feodosiyaGorPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Феодосия
			|  - 
			span(cityTo) Горловка
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kerch-gorlovka")
		p.popular__price от #{kerchGorPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Керчь
			|  - 
			span(cityTo) Горловка
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-rostov-gorlovka")
		p.popular__price от #{rostovGorPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Ростов
			|  - 
			span(cityTo) Горловка
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-sevastopol-gorlovka")
		p.popular__price от #{sevastopolGorPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Севастополь
			|  - 
			span(cityTo) Горловка
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-simferopol-gorlovka")
		p.popular__price от #{simferopolGorPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Симферополь
			|  - 
			span(cityTo) Горловка
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-slavyansk-na-kubani-gorlovka")
		p.popular__price от #{slavyansknakubaniGorPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Славянск на Кубани
			|  - 
			span(cityTo) Горловка