.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-adler")
		p.popular__price от #{adlerPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Адлер
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-alushta")
		p.popular__price от #{alushtaPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Алушта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-feodosiya")
		p.popular__price от #{feodosiyaPrice}
			span.rubl a
		p.popular__name
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Феодосия
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-kerch")
		p.popular__price от #{kerchPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Керчь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-krasnodar")
		p.popular__price от #{krasnodarPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Краснодар
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-anapa")
		p.popular__price от #{anapaPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Анапа
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-moskva")
		p.popular__price от #{moskowPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Москва
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-belgorod")
		p.popular__price от #{belgorodPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Белгород
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-bryansk")
		p.popular__price от #{bryanskPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Брянск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-pavlovsk")
		p.popular__price от #{pavlovskPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Павловск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-rostov")
		p.popular__price от #{rostovPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Ростов
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-sevastopol")
		p.popular__price от #{sevastopolPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Севастополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-simferopol")
		p.popular__price от #{simferopolPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Симферополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-slavyansk-na-kubani")
		p.popular__price от #{slavyanskNaKubaniPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Славянск на Кубани
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-tula")
		p.popular__price от #{tulaPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Тула
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-orel")
		p.popular__price от #{orelPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Орел
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-voronej")
		p.popular__price от #{voronejPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Воронеж
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-kursk")
		p.popular__price от #{kurskPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Курск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-sankt-peterburg")
		p.popular__price от #{piterPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Санкт-Петербург
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-yalta")
		p.popular__price от #{yaltaPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Ялта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-alushta")
		p.popular__price от #{gorAlushtaPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Алушта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-feodosiya")
		p.popular__price от #{gorFeodosiyaPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Феодосия
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-kerch")
		p.popular__price от #{gorKerchPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Керчь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-rostov")
		p.popular__price от #{gorRostovPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Ростов
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-sevastopol")
		p.popular__price от #{gorSevastopolPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Севастополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-simferopol")
		p.popular__price от #{gorSimferopolPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Симферополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-slavyansk-na-kubani")
		p.popular__price от #{slavyanskNaKubaniPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Славянск на Кубани
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-yalta")
		p.popular__price от #{gorYaltaPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Ялта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-sevastopol")
		p.popular__price от #{kievKrimPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Севастополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-simferopol")
		p.popular__price от #{kievKrimPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Симферополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-yalta")
		p.popular__price от #{kievKrimPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Ялта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-alushta")
		p.popular__price от #{kievKrimPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Алушта