.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-donetsk-borispol")
		p.popular__price от #{borispolPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Борисполь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-donetsk-dimitrovo")
		p.popular__price от #{dimitrovoPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Димитрово
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-donetsk-dnepropetrovsk")
		p.popular__price от #{dneprPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Днепропетровск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-donetsk-dobropolye")
		p.popular__price от #{dobropolyePrice}
			|  грн
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Доброполье
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-donetsk-izum")
		p.popular__price от #{izumPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Изюм
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-donetsk-kharkov")
		p.popular__price от #{kharkovPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Харьков
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-donetsk-kiev")
		p.popular__price от #{kievPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-donetsk-konstantinovka")
		p.popular__price от #{konstantinovkaPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Константиновка
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-donetsk-kramatorsk")
		p.popular__price от #{kramatorskPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Краматорск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-donetsk-krasnoarmeysk")
		p.popular__price от #{krasnoarmeyskPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Красноармейск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-donetsk-krasnograd")
		p.popular__price от #{krasnogradPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Красноград
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-donetsk-kurahovo")
		p.popular__price от #{kurahovoPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Курахово
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-donetsk-lubni")
		p.popular__price от #{lubniPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Лубны
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-donetsk-mariupol")
		p.popular__price от #{mariupolPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Мариуполь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-donetsk-novomoskovsk")
		p.popular__price от #{novomoskovskPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Новомосковск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-donetsk-pavlograd")
		p.popular__price от #{pavlogradPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Павлоград
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-donetsk-piryatin")
		p.popular__price от #{piryatinPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Пирятин
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-donetsk-poltava")
		p.popular__price от #{poltavaPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Полтава
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-donetsk-selidovo")
		p.popular__price от #{selidovoPrice}
			span.rubl a
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Селидово
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-donetsk-slavyansk")
		p.popular__price от #{slavyanskPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Славянск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-donetsk-volnovaha")
		p.popular__price от #{volnovahaPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Волноваха