extends ../_layout
block append head
	- ot = "Донецк"
	- to = "Киев"
	- city = ot +' - '+ to
	- category = "Междугородние перевозки"
	- pageImg = "https://vseputi.com.ua/img/content/city-pattern/kiev.jpg"
	meta(name="twitter:title" content="Купить билет на автобус #{city} от #{kievPrice}")
	include ../includes/modules/_meta
block content
	.main._kiev-bg
		.container
			.row
				.col-sm-12.col-xs-12
					h1.main__title.no-margin Купить билет на автобус #{city} 
						span от #{kievPrice}
							i.fa.fa-rub
	.container
		.row
			.col-sm-12.col-xs-12
				include ../includes/modules/_breadcrumbs
				h2.schedule__main-title
					i.fa.fa-calendar
					| Расписание автобусов 
					span(citys) #{city}
	block moskow-way
		.schedule
			.container
				.schedule__section
					.row.hidden-xs
						.col-sm-4
							p.schedule__title Отправление (#{ot})
						.col-sm-4
							p.schedule__title Прибытие (#{to})
						.col-sm-2
							p.schedule__title В пути
						.col-sm-2
							p.schedule__title Стоимость билетов
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 05:30 
										| район Южного АВ
									.schedule__auto Микроавтобус (до 8 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 20:00 
										| ЖД Вокзал (Макдональдс)
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>(рейс без пересадки)<br>≈ 14 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 2 400
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row.row-special(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 06:30 
										| район Южного АВ
									.schedule__auto Микроавтобус (до 8 мест)
									include ../includes/modules/_special-badge
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 21:00 
										| ЖД Вокзал (Макдональдс)
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>(рейс без пересадки)<br>≈ 14 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 2 200
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 07:00 
										| Крытый рынок
									.schedule__auto Автобус (до 50 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 22:00 
										| ЖД Вокзал
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ср, Сб<br>(рейс с пересадкой)<br>≈ 15 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong #{kievPrice}
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 10:00 
										| Крытый рынок, "Эльдорадо"
									.schedule__auto Микроавтобус (до 8 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 00:00 
										| АВ "Киев"
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>≈ 14 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 2 400
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 11:00 
										| Крытый рынок, "Эльдорадо"
									.schedule__auto Автобус (до 50 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 18:00 
										| Автовокзал
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Маршрут через РФ<br>Вс<br>≈ 30 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 2 500
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 14:00 
										| Крытый рынок, "Эльдорадо"
									.schedule__auto Автобус (до 50 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 05:00 
										| ЖД Вокзал
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Нечетные дни<br>(рейс с пересадкой)<br>≈ 15 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 750
										|  грн
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
				br
				.back__link-wrap
					a.back__link.btn(href="/intercity/autobus-kiev-donetsk") <i class="fa fa-refresh fa-spin"></i> Посмотреть обратный маршрут
	include ../includes/modules/_share
	include ../includes/modules/_advantages
	include ../includes/modules/_attention
	.description
		.container
			.toggle-block__text
				h2.description__title Автобус #{city}
				p.description__text Если вы решили поехать из Донецка в Киев, то в сложившейся непростой ситуации наилучшим вариантом являются автобусные пассажирские перевозки. Диспетчерская служба «VSEPUTI» предоставляет услуги перевозок по данному направлению. Мы сотрудничает только с проверенными транспортными компаниями и перевозчиками, имеющими большой водительский стаж, лицензию и прочие необходимые документы. Все это в совокупности обеспечивает максимальный комфорт и безопасность проезда. При покупке или бронировании билета на данный рейс вы должны иметь продленный электронный пропуск, который позволяет пересекать линию разграничения.
				p.description__text Время отправления и прибытия рейсов #{city} построено таким образом, что бы максимально учесть нюансы пропускной системы и работы блок поста. Существует две схемы пересечения границы, проезд без пересадок и с пересадками по принципу «борт в борт». То есть после того как вы прибудете на линию разграничения вам нужно будет пересесть на другой автобус (длительные пешие переходы исключены) который далее и будет следовать по указанному маршруту. Вы можете совершить поездку на комфортабельном автобусе (46 мест) или микроавтобусе (8 мест), более подробную информацию можно уточнить у диспетчеров нашей службы позвонив по номерам телефонов указанным на сайте.
				h3.description__title Как купить билет?
				p.description__text Приобрести билеты или забронировать их в режиме онлайн можно непосредственно на странице сайта нажав на кнопку «Забронировать» напротив выбранного вами рейса. После заполнения формы с вами свяжется наш диспетчер для подтверждения заявки. Вы так же можете осуществить бронирование посадочных мест, в телефонном режиме. Цена билета #{city} напрямую зависит от типа выбранного транспорта. То есть, восьмиместный микроавтобус, который следует без пересадок, будет стоить дороже, однако это позволит вам повысить комфортабельность поездки, исключив пересадки и сократив тем самым время в пути. Если же вас интересует более дешевый рейс #{city}, то проезд на большом автобусе станет отличным выбором.
				p.description__text Пользуясь услугами компании Vseputi, вы всегда можете рассчитывать на комфортное и безопасное путешествие по приятным ценам.