.breadcrumbs.hidden-xs
	ul.breadcrumbs__list(itemscope itemtype="http://data-vocabulary.org/Breadcrumb")
		li.breadcrumbs__item
			a.breadcrumbs__link(href="/" itemprop="url" title="Главная") Главная
		li.breadcrumbs__item
			if (category == 'Международные рейсы')
				a.breadcrumbs__link(title="#{category}" itemprop="url" href="/international/") #{category}
			else
				a.breadcrumbs__link(title="#{category}" itemprop="url" href="/intercity/") #{category}
		li.breadcrumbs__item
			span.breadcrumbs__link.current Автобус #{city}