.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-moskva-donetsk")
		p.popular__price от #{moskowDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Москва
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-tuapse-donetsk")
		p.popular__price от #{tuapseDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Туапсе
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gelendjik-donetsk")
		p.popular__price от #{gelendjikDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Геленджик
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-sochi-donetsk")
		p.popular__price от #{sochiDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Сочи
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-sankt-peterburg-donetsk")
		p.popular__price от #{piterDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Санкт-Петербург
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-tula-donetsk")
		p.popular__price от #{tulaDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Тула
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-sevastopol-donetsk")
		p.popular__price от #{sevastopolDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Севастополь
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-alushta-donetsk")
		p.popular__price от #{alushtaDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Алушта
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-belgorod-donetsk")
		p.popular__price от #{belgorodDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Белгород
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-feodosiya-donetsk")
		p.popular__price от #{feodosiyaDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Феодосия
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-yalta-donetsk")
		p.popular__price от #{yaltaDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Ялта
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kerch-donetsk")
		p.popular__price от #{kerchDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Керчь
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-krasnodar-donetsk")
		p.popular__price от #{krasnodarDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Краснодар
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-pavlovsk-donetsk")
		p.popular__price от #{pavlovskDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Павловск
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-rostov-donetsk")
		p.popular__price от #{rostovDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Ростов
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-simferopol-donetsk")
		p.popular__price от #{simferopolDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Симферополь
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-slavyansk-na-kubani-donetsk")
		p.popular__price от #{slavyanskNaKubaniDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Славянск на Кубани
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-orel-donetsk")
		p.popular__price от #{orelDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Орел
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kursk-donetsk")
		p.popular__price от #{kurskDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Курск
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-adler-donetsk")
		p.popular__price от #{adlerDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Адлер
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-bryansk-donetsk")
		p.popular__price от #{bryanskDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Брянск
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kislovodsk-donetsk")
		p.popular__price от #{kislovodskDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Кисловодск
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-stavropol-donetsk")
		p.popular__price от #{stavropolDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Ставрополь
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-nijniy-novgorod-donetsk")
		p.popular__price от #{nnDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Нижний Новгород
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-velikiy-novgorod-donetsk")
		p.popular__price от #{vnDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Великий Новгород
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-erevan-donetsk")
		p.popular__price от #{erevanDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Ереван
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-tbilisi-donetsk")
		p.popular__price от #{tbilisiDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Тбилиси
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-voronej-donetsk")
		p.popular__price от #{voronejDon}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Воронеж
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-saratov-donetsk")
		p.popular__price от #{saratovDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Саратов
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-samara-donetsk")
		p.popular__price от #{samaraDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Самара
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-tolyatti-donetsk")
		p.popular__price от #{tolDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Тольятти
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-livni-donetsk")
		p.popular__price от #{livniDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Ливны
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-elec-donetsk")
		p.popular__price от #{elecDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Елец
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lipeck-donetsk")
		p.popular__price от #{lipeckDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Липецк
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-tver-donetsk")
		p.popular__price от #{tverDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Тверь
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-anapa-donetsk")
		p.popular__price от #{anapaDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Анапа
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-stariy-oskol-donetsk")
		p.popular__price от #{stOskolDon}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Старый Оскол
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kazan-donetsk")
		p.popular__price от #{kazanDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Казань
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-evpatoria-dnepropetrovsk")
		p.popular__price от #{evpatDnepr}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Евпатория
			|  - 
			span(cityTo) Днепропетровск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-sevastopol-dnepropetrovsk")
		p.popular__price от #{sevastopolDnepr}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Севастополь
			|  - 
			span(cityTo) Днепропетровск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-simferopol-dnepropetrovsk")
		p.popular__price от #{simferopolDnepr}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Симферополь
			|  - 
			span(cityTo) Днепропетровск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-alushta-gorlovka")
		p.popular__price от #{alushtaGorPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Алушта
			|  - 
			span(cityTo) Горловка
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-yalta-gorlovka")
		p.popular__price от #{yaltaGorPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Ялта
			|  - 
			span(cityTo) Горловка
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-feodosiya-gorlovka")
		p.popular__price от #{feodosiyaGorPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Феодосия
			|  - 
			span(cityTo) Горловка
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kerch-gorlovka")
		p.popular__price от #{kerchGorPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Керчь
			|  - 
			span(cityTo) Горловка
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-rostov-gorlovka")
		p.popular__price от #{rostovGorPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Ростов
			|  - 
			span(cityTo) Горловка
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-sevastopol-gorlovka")
		p.popular__price от #{sevastopolGorPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Севастополь
			|  - 
			span(cityTo) Горловка
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-simferopol-gorlovka")
		p.popular__price от #{simferopolGorPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Симферополь
			|  - 
			span(cityTo) Горловка
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-slavyansk-na-kubani-gorlovka")
		p.popular__price от #{slavyansknakubaniGorPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Славянск на Кубани
			|  - 
			span(cityTo) Горловка
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-moskva-gorlovka")
		p.popular__price от #{mskGorlovkaPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Москва
			|  - 
			span(cityTo) Горловка
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-moskva-kiev")
		p.popular__price от #{mskKievPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Москва
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-sevastopol-kiev")
		p.popular__price от #{sevasKiev}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Севастополь
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-simferopol-kiev")
		p.popular__price от #{simfKiev}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Симферополь
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-yalta-kiev")
		p.popular__price от #{yaltaKiev}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Ялта
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kerch-kiev")
		p.popular__price от #{kerchKiev}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Керчь
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-djankoy-kiev")
		p.popular__price от #{djankoyKiev}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Джанкой
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-evpatoria-kiev")
		p.popular__price от #{evpatKiev}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Евпатория
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-alushta-kiev")
		p.popular__price от #{alushtaKiev}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Алушта
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-feodosiya-kiev")
		p.popular__price от #{feodKiev}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Феодосия
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-sochi-kiev")
		p.popular__price от #{sochiKiev}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Сочи
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lazarevskiy-kiev")
		p.popular__price от #{lazarKiev}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Лазаревский
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-djubga-kiev")
		p.popular__price от #{djubgaKiev}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Джубга
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-tuapse-kiev")
		p.popular__price от #{tuapseKiev}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Туапсе
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-krasnodar-kiev")
		p.popular__price от #{krasnodarKiev}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Краснодар
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-rostov-kiev")
		p.popular__price от #{rostovKiev}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Ростов
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kursk-kiev")
		p.popular__price от #{kurskKiev}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Курск
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-orel-kiev")
		p.popular__price от #{orelKiev}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Орел
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-sankt-peterburg-kiev")
		p.popular__price от #{piterKiev}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Санкт-Петербург
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-sankt-peterburg-lugansk")
		p.popular__price от #{piterLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Санкт-Петербург
			|  - 
			span(cityTo) Луганск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-moskva-lugansk")
		p.popular__price от #{mskLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Москва
			|  - 
			span(cityTo) Луганск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-tula-lugansk")
		p.popular__price от #{tulaLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Тула
			|  - 
			span(cityTo) Луганск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kerch-lugansk")
		p.popular__price от #{kerchLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Керчь
			|  - 
			span(cityTo) Луганск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-feodosiya-lugansk")
		p.popular__price от #{feodisyaLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Феодосия
			|  - 
			span(cityTo) Луганск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-simferopol-lugansk")
		p.popular__price от #{simfLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Симферополь
			|  - 
			span(cityTo) Луганск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-alushta-lugansk")
		p.popular__price от #{alushtaLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Алушта
			|  - 
			span(cityTo) Луганск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-yalta-lugansk")
		p.popular__price от #{yaltaLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Ялта
			|  - 
			span(cityTo) Луганск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-sevastopol-lugansk")
		p.popular__price от #{sevLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Севастополь
			|  - 
			span(cityTo) Луганск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-orel-lugansk")
		p.popular__price от #{orelLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Орел
			|  - 
			span(cityTo) Луганск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-bryansk-lugansk")
		p.popular__price от #{bryanskLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Брянск
			|  - 
			span(cityTo) Луганск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-belgorod-lugansk")
		p.popular__price от #{belgorodLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Белгород
			|  - 
			span(cityTo) Луганск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kursk-lugansk")
		p.popular__price от #{kurskLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Курск
			|  - 
			span(cityTo) Луганск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-rostov-lugansk")
		p.popular__price от #{rostovLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Ростов
			|  - 
			span(cityTo) Луганск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-krasnodar-lugansk")
		p.popular__price от #{krasnodarLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Краснодар
			|  - 
			span(cityTo) Луганск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-sochi-lugansk")
		p.popular__price от #{sochiLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Сочи
			|  - 
			span(cityTo) Луганск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-adler-lugansk")
		p.popular__price от #{adlerLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Адлер
			|  - 
			span(cityTo) Луганск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-suhum-lugansk")
		p.popular__price от #{suhumLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Сухум
			|  - 
			span(cityTo) Луганск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-stariy-oskol-lugansk")
		p.popular__price от #{stOskolDon}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Старый Оскол
			|  - 
			span(cityTo) Луганск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-voronej-lugansk")
		p.popular__price от #{voronejLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Воронеж
			|  - 
			span(cityTo) Луганск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-elec-lugansk")
		p.popular__price от #{elecLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Елец
			|  - 
			span(cityTo) Луганск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kaluga-lugansk")
		p.popular__price от #{kalugaLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Калуга
			|  - 
			span(cityTo) Луганск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lipeck-lugansk")
		p.popular__price от #{lipeckLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Липецк
			|  - 
			span(cityTo) Луганск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-sochi-kharkov")
		p.popular__price от #{sochiKharkov}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Сочи
			|  - 
			span(cityTo) Харьков
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lazarevskiy-kharkov")
		p.popular__price от #{lazarKharkov}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Лазаревский
			|  - 
			span(cityTo) Харьков
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-djubga-kharkov")
		p.popular__price от #{djubgaKharkov}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Джубга
			|  - 
			span(cityTo) Харьков
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-tuapse-kharkov")
		p.popular__price от #{tuapseKharkov}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Туапсе
			|  - 
			span(cityTo) Харьков
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-krasnodar-kharkov")
		p.popular__price от #{krasnodarKharkov}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Краснодар
			|  - 
			span(cityTo) Харьков
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-rostov-kharkov")
		p.popular__price от #{rostovKharkov}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Ростов
			|  - 
			span(cityTo) Харьков
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-belgorod-kharkov")
		p.popular__price от #{belgorodKharkov}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Белгород
			|  - 
			span(cityTo) Харьков
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kursk-kharkov")
		p.popular__price от #{kurskKharkov}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Курск
			|  - 
			span(cityTo) Харьков
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-orel-kharkov")
		p.popular__price от #{orelKharkov}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Орел
			|  - 
			span(cityTo) Харьков
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-tula-kharkov")
		p.popular__price от #{tulaKharkov}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Тула
			|  - 
			span(cityTo) Харьков
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-moskva-kharkov")
		p.popular__price от #{mskKharkov}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Москва
			|  - 
			span(cityTo) Харьков
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-sankt-peterburg-kharkov")
		p.popular__price от #{piterKharkov}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Санкт-Петербург
			|  - 
			span(cityTo) Харьков
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-belgorod-artemovsk")
		p.popular__price от #{belgorodArt}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Белгород
			|  - 
			span(cityTo) Артемовск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kursk-artemovsk")
		p.popular__price от #{kurskArt}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Курск
			|  - 
			span(cityTo) Артемовск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-orel-artemovsk")
		p.popular__price от #{orelArt}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Орел
			|  - 
			span(cityTo) Артемовск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-tula-artemovsk")
		p.popular__price от #{tulaArt}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Тула
			|  - 
			span(cityTo) Артемовск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-moskva-artemovsk")
		p.popular__price от #{mskArt}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Москва
			|  - 
			span(cityTo) Артемовск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-moskva-poltava")
		p.popular__price от #{mskPoltava}
			|  грн
		p.popular__name 
			span(cityFrom) Москва
			|  - 
			span(cityTo) Полтава
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kursk-poltava")
		p.popular__price от #{kurskPoltava}
			|  грн
		p.popular__name 
			span(cityFrom) Курск
			|  - 
			span(cityTo) Полтава
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-belgorod-slavyansk")
		p.popular__price от #{belgorodSlav}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Белгород
			|  - 
			span(cityTo) Славянск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kursk-slavyansk")
		p.popular__price от #{kurskSlav}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Курск
			|  - 
			span(cityTo) Славянск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-orel-slavyansk")
		p.popular__price от #{orelSlav}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Орел
			|  - 
			span(cityTo) Славянск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-tula-slavyansk")
		p.popular__price от #{tulaSlav}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Тула
			|  - 
			span(cityTo) Славянск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-moskva-slavyansk")
		p.popular__price от #{mskSlav}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Москва
			|  - 
			span(cityTo) Славянск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kursk-sumi")
		p.popular__price от #{kurskSumi}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Курск
			|  - 
			span(cityTo) Сумы

.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-orel-sumi")
		p.popular__price от #{orelSumi}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Орел
			|  - 
			span(cityTo) Сумы

.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-moskva-sumi")
		p.popular__price от #{mskSumi}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Москва
			|  - 
			span(cityTo) Сумы

.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-sankt-peterburg-sumi")
		p.popular__price от #{piterSumi}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Санкт-Петербург
			|  - 
			span(cityTo) Сумы
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-belgorod-kramatorsk")
		p.popular__price от #{belgorodKram}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Белгород
			|  - 
			span(cityTo) Краматорск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kursk-kramatorsk")
		p.popular__price от #{kurskKram}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Курск
			|  - 
			span(cityTo) Краматорск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-orel-kramatorsk")
		p.popular__price от #{orelKram}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Орел
			|  - 
			span(cityTo) Краматорск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-tula-kramatorsk")
		p.popular__price от #{tulaKram}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Тула
			|  - 
			span(cityTo) Краматорск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-moskva-kramatorsk")
		p.popular__price от #{mskKram}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Москва
			|  - 
			span(cityTo) Краматорск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-belgorod-konstantinovka")
		p.popular__price от #{belgorodKonst}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Белгород
			|  - 
			span(cityTo) Константиновка
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kursk-konstantinovka")
		p.popular__price от #{kurskKonst}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Курск
			|  - 
			span(cityTo) Константиновка
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-orel-konstantinovka")
		p.popular__price от #{orelKonst}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Орел
			|  - 
			span(cityTo) Константиновка
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-tula-konstantinovka")
		p.popular__price от #{tulaKonst}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Тула
			|  - 
			span(cityTo) Константиновка
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-moskva-konstantinovka")
		p.popular__price от #{mskKonst}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Москва
			|  - 
			span(cityTo) Константиновка