.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-kiev-donetsk")
		p.popular__price от #{kievDonPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-dnepropetrovsk-donetsk")
		p.popular__price от #{dnepropetrovskDonPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Днепропетровск
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-krasnoarmeysk-donetsk")
		p.popular__price от #{krasnoarmeyskDonPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Красноармейск
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-krasnograd-donetsk")
		p.popular__price от #{krasnoarmeyskDonPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Красноград
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-lubni-donetsk")
		p.popular__price от #{lubniDonPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Лубны
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-mariupol-donetsk")
		p.popular__price от #{mariupolDonPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Мариуполь
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-novomoskovsk-donetsk")
		p.popular__price от #{novomoskovskDonPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Новомосковск
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-pavlograd-donetsk")
		p.popular__price от #{pavlogradDonPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Павлоград
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-piryatin-donetsk")
		p.popular__price от #{piryatinDonPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Пирятин
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-poltava-donetsk")
		p.popular__price от #{poltavaDonPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Полтава
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-kharkov-donetsk")
		p.popular__price от #{kharkovDonPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Харьков
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-borispol-donetsk")
		p.popular__price от #{borispolDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Борисполь
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-dimitrovo-donetsk")
		p.popular__price от #{dimitrovoDonPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Димитрово
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-dobropolye-donetsk")
		p.popular__price от #{dobropolyeDonPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Доброполье
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-izum-donetsk")
		p.popular__price от #{izumDonPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Изюм
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-kramatorsk-donetsk")
		p.popular__price от #{kramatorskDonPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Краматорск
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-slavyansk-donetsk")
		p.popular__price от #{slavyanskDonPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Славянск
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/intercity/autobus-artemovsk-donetsk")
		p.popular__price от #{artemDonPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Артемовск
			|  - 
			span(cityTo) Донецк