.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lublin-kharkov")
		p.popular__price от #{lublinKharkov}
			|  грн
		p.popular__name 
			span(cityFrom) Люблин
			|  - 
			span(cityTo) Харьков
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-varshava-kharkov")
		p.popular__price от #{varshavaKharkov}
			|  грн
		p.popular__name 
			span(cityFrom) Варшава
			|  - 
			span(cityTo) Харьков
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-shecin-kharkov")
		p.popular__price от #{shecinKharkov}
			|  грн
		p.popular__name 
			span(cityFrom) Щецин
			|  - 
			span(cityTo) Харьков
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gdansk-kharkov")
		p.popular__price от #{gdanskKharkov}
			|  грн
		p.popular__name 
			span(cityFrom) Гданьск
			|  - 
			span(cityTo) Харьков
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gdinya-kharkov")
		p.popular__price от #{gdinyaKharkov}
			|  грн
		p.popular__name 
			span(cityFrom) Гдыня
			|  - 
			span(cityTo) Харьков
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lublin-kiev")
		p.popular__price от #{lublinKiev}
			|  грн
		p.popular__name 
			span(cityFrom) Люблин
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-varshava-kiev")
		p.popular__price от #{varshavaKiev}
			|  грн
		p.popular__name 
			span(cityFrom) Варшава
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-shecin-kiev")
		p.popular__price от #{shecinKiev}
			|  грн
		p.popular__name 
			span(cityFrom) Щецин
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gdansk-kiev")
		p.popular__price от #{gdanskKiev}
			|  грн
		p.popular__name 
			span(cityFrom) Гданьск
			|  - 
			span(cityTo) Киев
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gdinya-kiev")
		p.popular__price от #{gdinyaKiev}
			|  грн
		p.popular__name 
			span(cityFrom) Гдыня
			|  - 
			span(cityTo) Киев