meta(name="description" content="Автобус #{city}: расписание, маршрут, цена, время в пути, дни следования. Купить билет на автобус #{city}")
meta(name="keywords" content="пассажирские перевозки #{city}, автобус #{city}, цена билета на автобус #{city}, билеты на автобус #{city}, Расписание автобусов #{city}")
meta(name="robots" content="noodp")
meta(property="og:locale" content="ru_RU")
meta(property="og:type" content="website")
meta(property="og:title" content="Купить билет на автобус #{city}")
meta(property="og:description" content="Автобус #{city}: расписание, маршрут, цена, время в пути, дни следования. Купить билет на автобус #{city}")
//- meta(property="og:url" content="https://vseputi.com.ua/")
meta(property="og:site_name" content="Всепути - Купить билет на автобус онлайн, заказать автобусный билет.")
- if (pageImg) {
	meta(property="og:image" content="#{pageImg}")
- } else {
	meta(property="og:image" content="https://vseputi.com.ua/img/content/main-pattern.jpg")
-}
//- twitter
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@vseputi")
meta(name="twitter:description" content="Автобус #{city}: расписание, маршрут, цена, время в пути, дни следования.")
meta(name="twitter:image:src" content="#{pageImg}")
//- end twitter
title Купить билет на автобус #{city}