.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-artemovsk-belgorod")
		p.popular__price от #{artBelgorod}
			|  грн
		p.popular__name 
			span(cityFrom) Артемовск
			|  - 
			span(cityTo) Белгород
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-artemovsk-kursk")
		p.popular__price от #{artKursk}
			|  грн
		p.popular__name 
			span(cityFrom) Артемовск
			|  - 
			span(cityTo) Курск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-artemovsk-orel")
		p.popular__price от #{artOrel}
			|  грн
		p.popular__name 
			span(cityFrom) Артемовск
			|  - 
			span(cityTo) Орел
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-artemovsk-tula")
		p.popular__price от #{artTula}
			|  грн
		p.popular__name 
			span(cityFrom) Артемовск
			|  - 
			span(cityTo) Тула
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-artemovsk-moskva")
		p.popular__price от #{artMsk}
			|  грн
		p.popular__name 
			span(cityFrom) Артемовск
			|  - 
			span(cityTo) Москва
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-artemovsk-sankt-peterburg")
		p.popular__price от #{artPiter}
			|  грн
		p.popular__name 
			span(cityFrom) Артемовск
			|  - 
			span(cityTo) Санкт-Петербург
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-alushta")
		p.popular__price от #{gorAlushtaPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Алушта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-feodosiya")
		p.popular__price от #{gorFeodosiyaPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Феодосия
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-kerch")
		p.popular__price от #{gorKerchPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Керчь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-rostov")
		p.popular__price от #{gorRostovPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Ростов
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-sevastopol")
		p.popular__price от #{gorSevastopolPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Севастополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-simferopol")
		p.popular__price от #{gorSimferopolPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Симферополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-slavyansk-na-kubani")
		p.popular__price от #{slavyanskNaKubaniPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Славянск на Кубани
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-yalta")
		p.popular__price от #{gorYaltaPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Ялта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-moskva")
		p.popular__price от #{gorlovkaMskPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Москва
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-adler")
		p.popular__price от #{adlerPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Адлер
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-kislovodsk")
		p.popular__price от #{kislovodskPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Кисловодск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-stavropol")
		p.popular__price от #{stavropolPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Ставрополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-volgograd")
		p.popular__price от #{volgogradPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Волгоград
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-taganrog")
		p.popular__price от #{taganrogPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Таганрог
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-alushta")
		p.popular__price от #{alushtaPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Алушта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-tuapse")
		p.popular__price от #{tuapsePrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Туапсе
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-gelendjik")
		p.popular__price от #{gelendjikPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Геленджик
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-sochi")
		p.popular__price от #{sochiPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Сочи
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-feodosiya")
		p.popular__price от #{feodosiyaPrice}
			i.fa.fa-rub
		p.popular__name
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Феодосия
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-kerch")
		p.popular__price от #{kerchPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Керчь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-krasnodar")
		p.popular__price от #{krasnodarPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Краснодар
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-anapa")
		p.popular__price от #{anapaPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Анапа
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-moskva")
		p.popular__price от #{moskowPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Москва
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-belgorod")
		p.popular__price от #{belgorodPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Белгород
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-bryansk")
		p.popular__price от #{bryanskPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Брянск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-pavlovsk")
		p.popular__price от #{pavlovskPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Павловск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-rostov")
		p.popular__price от #{rostovPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Ростов
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-sevastopol")
		p.popular__price от #{sevastopolPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Севастополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-simferopol")
		p.popular__price от #{simferopolPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Симферополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-slavyansk-na-kubani")
		p.popular__price от #{slavyanskNaKubaniPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Славянск на Кубани
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-tula")
		p.popular__price от #{tulaPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Тула
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-orel")
		p.popular__price от #{orelPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Орел
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-voronej")
		p.popular__price от #{voronejPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Воронеж
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-kursk")
		p.popular__price от #{kurskPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Курск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-sankt-peterburg")
		p.popular__price от #{piterPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Санкт-Петербург
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-yalta")
		p.popular__price от #{yaltaPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Ялта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-livni")
		p.popular__price от #{livniPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Ливны
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-nijniy-novgorod")
		p.popular__price от #{nnPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Нижний Новгород
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-velikiy-novgorod")
		p.popular__price от #{vnPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Великий Новгород
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-saratov")
		p.popular__price от #{saratovPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Саратов
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-samara")
		p.popular__price от #{samaraPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Самара
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-tolyatti")
		p.popular__price от #{tolPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Тольятти
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-elec")
		p.popular__price от #{elecPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Елец
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-lipeck")
		p.popular__price от #{lipeckPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Липецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-tver")
		p.popular__price от #{tverPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Тверь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-stariy-oskol")
		p.popular__price от #{stOskolPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Старый Оскол
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-kazan")
		p.popular__price от #{kazanPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Казань
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-dnepropetrovsk-evpatoria")
		p.popular__price от #{dneprEvpat}
			|  грн
		p.popular__name 
			span(cityFrom) Днепропетровск
			|  - 
			span(cityTo) Евпатория
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-dnepropetrovsk-sevastopol")
		p.popular__price от #{dneprSevastopol}
			|  грн
		p.popular__name 
			span(cityFrom) Днепропетровск
			|  - 
			span(cityTo) Севастополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-dnepropetrovsk-simferopol")
		p.popular__price от #{dneprSimferopol}
			|  грн
		p.popular__name 
			span(cityFrom) Днепропетровск
			|  - 
			span(cityTo) Симферополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-sevastopol")
		p.popular__price от #{kievSevas}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Севастополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-simferopol")
		p.popular__price от #{kievSimf}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Симферополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-yalta")
		p.popular__price от #{kievYalta}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Ялта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-kerch")
		p.popular__price от #{kievKerch}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Керчь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-djankoy")
		p.popular__price от #{kievDjankoy}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Джанкой
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-evpatoria")
		p.popular__price от #{kievEvpat}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Евпатория
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-alushta")
		p.popular__price от #{kievAlushta}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Алушта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-feodosiya")
		p.popular__price от #{kievFeod}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Феодосия
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-moskva")
		p.popular__price от #{kievMskPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Москва
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-krasnodar")
		p.popular__price от #{kievKrasnodar}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Краснодар
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-rostov")
		p.popular__price от #{kievRostov}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Ростов
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-djubga")
		p.popular__price от #{kievDjubga}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Джубга
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-tuapse")
		p.popular__price от #{kievTuapse}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Туапсе
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-lazarevskiy")
		p.popular__price от #{kievLazar}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Лазаревский
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-sochi")
		p.popular__price от #{kievSochi}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Сочи
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-konstantinovka-belgorod")
		p.popular__price от #{konstBelgorod}
			|  грн
		p.popular__name 
			span(cityFrom) Константиновка
			|  - 
			span(cityTo) Белгород
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-konstantinovka-kursk")
		p.popular__price от #{konstKursk}
			|  грн
		p.popular__name 
			span(cityFrom) Константиновка
			|  - 
			span(cityTo) Курск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-konstantinovka-orel")
		p.popular__price от #{konstOrel}
			|  грн
		p.popular__name 
			span(cityFrom) Константиновка
			|  - 
			span(cityTo) Орел
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-konstantinovka-tula")
		p.popular__price от #{konstTula}
			|  грн
		p.popular__name 
			span(cityFrom) Константиновка
			|  - 
			span(cityTo) Тула
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-konstantinovka-moskva")
		p.popular__price от #{konstMsk}
			|  грн
		p.popular__name 
			span(cityFrom) Константиновка
			|  - 
			span(cityTo) Москва
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-konstantinovka-sankt-peterburg")
		p.popular__price от #{konstPiter}
			|  грн
		p.popular__name 
			span(cityFrom) Константиновка
			|  - 
			span(cityTo) Санкт-Петербург
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kramatorsk-belgorod")
		p.popular__price от #{kramBelgorod}
			|  грн
		p.popular__name 
			span(cityFrom) Краматорск
			|  - 
			span(cityTo) Белгород
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kramatorsk-kursk")
		p.popular__price от #{kramKursk}
			|  грн
		p.popular__name 
			span(cityFrom) Краматорск
			|  - 
			span(cityTo) Курск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kramatorsk-orel")
		p.popular__price от #{kramOrel}
			|  грн
		p.popular__name 
			span(cityFrom) Краматорск
			|  - 
			span(cityTo) Орел
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kramatorsk-tula")
		p.popular__price от #{kramTula}
			|  грн
		p.popular__name 
			span(cityFrom) Краматорск
			|  - 
			span(cityTo) Тула
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kramatorsk-moskva")
		p.popular__price от #{kramMsk}
			|  грн
		p.popular__name 
			span(cityFrom) Краматорск
			|  - 
			span(cityTo) Москва
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kramatorsk-sankt-peterburg")
		p.popular__price от #{kramPiter}
			|  грн
		p.popular__name 
			span(cityFrom) Краматорск
			|  - 
			span(cityTo) Санкт-Петербург
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lugansk-sankt-peterburg")
		p.popular__price от #{lugPiter}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Луганск
			|  - 
			span(cityTo) Санкт-Петербург
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lugansk-moskva")
		p.popular__price от #{lugMsk}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Луганск
			|  - 
			span(cityTo) Москва
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lugansk-tula")
		p.popular__price от #{lugTula}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Луганск
			|  - 
			span(cityTo) Тула
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lugansk-kerch")
		p.popular__price от #{lugKerch}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Луганск
			|  - 
			span(cityTo) Керчь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lugansk-feodosiya")
		p.popular__price от #{lugFeodisya}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Луганск
			|  - 
			span(cityTo) Феодосия
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lugansk-simferopol")
		p.popular__price от #{lugSimf}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Луганск
			|  - 
			span(cityTo) Симферополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lugansk-alushta")
		p.popular__price от #{lugAlushta}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Луганск
			|  - 
			span(cityTo) Алушта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lugansk-yalta")
		p.popular__price от #{lugYalta}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Луганск
			|  - 
			span(cityTo) Ялта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lugansk-sevastopol")
		p.popular__price от #{lugSev}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Луганск
			|  - 
			span(cityTo) Севастополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lugansk-orel")
		p.popular__price от #{lugOrel}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Луганск
			|  - 
			span(cityTo) Орел
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lugansk-bryansk")
		p.popular__price от #{lugBryansk}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Луганск
			|  - 
			span(cityTo) Брянск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lugansk-belgorod")
		p.popular__price от #{lugBelgorod}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Луганск
			|  - 
			span(cityTo) Белгород
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lugansk-kursk")
		p.popular__price от #{lugKursk}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Луганск
			|  - 
			span(cityTo) Курск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lugansk-rostov")
		p.popular__price от #{lugRostov}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Луганск
			|  - 
			span(cityTo) Ростов
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lugansk-krasnodar")
		p.popular__price от #{lugKrasnodar}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Луганск
			|  - 
			span(cityTo) Краснодар
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lugansk-sochi")
		p.popular__price от #{lugSochi}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Луганск
			|  - 
			span(cityTo) Сочи
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lugansk-adler")
		p.popular__price от #{lugAdler}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Луганск
			|  - 
			span(cityTo) Адлер
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lugansk-suhum")
		p.popular__price от #{lugSuhum}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Луганск
			|  - 
			span(cityTo) Сухум
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lugansk-stariy-oskol")
		p.popular__price от #{stOskolPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Луганск
			|  - 
			span(cityTo) Старый Оскол
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lugansk-voronej")
		p.popular__price от #{voronejLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Луганск
			|  - 
			span(cityTo) Воронеж
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lugansk-elec")
		p.popular__price от #{elecLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Луганск
			|  - 
			span(cityTo) Елец
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lugansk-kaluga")
		p.popular__price от #{kalugaLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Луганск
			|  - 
			span(cityTo) Калуга
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-lugansk-lipeck")
		p.popular__price от #{lipeckLug}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Луганск
			|  - 
			span(cityTo) Липецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-slavyansk-belgorod")
		p.popular__price от #{slavBelgorod}
			|  грн
		p.popular__name 
			span(cityFrom) Славянск
			|  - 
			span(cityTo) Белгород
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-slavyansk-kursk")
		p.popular__price от #{slavKursk}
			|  грн
		p.popular__name 
			span(cityFrom) Славянск
			|  - 
			span(cityTo) Курск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-slavyansk-orel")
		p.popular__price от #{slavOrel}
			|  грн
		p.popular__name 
			span(cityFrom) Славянск
			|  - 
			span(cityTo) Орел
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-slavyansk-tula")
		p.popular__price от #{slavTula}
			|  грн
		p.popular__name 
			span(cityFrom) Славянск
			|  - 
			span(cityTo) Тула
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-slavyansk-moskva")
		p.popular__price от #{slavMsk}
			|  грн
		p.popular__name 
			span(cityFrom) Славянск
			|  - 
			span(cityTo) Москва
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-slavyansk-sankt-peterburg")
		p.popular__price от #{slavPiter}
			|  грн
		p.popular__name 
			span(cityFrom) Славянск
			|  - 
			span(cityTo) Санкт-Петербург
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kharkov-belgorod")
		p.popular__price от #{kharkovBelgorod}
			|  грн
		p.popular__name 
			span(cityFrom) Харьков
			|  - 
			span(cityTo) Белгород
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kharkov-kursk")
		p.popular__price от #{kharkovKursk}
			|  грн
		p.popular__name 
			span(cityFrom) Харьков
			|  - 
			span(cityTo) Курск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kharkov-orel")
		p.popular__price от #{kharkovOrel}
			|  грн
		p.popular__name 
			span(cityFrom) Харьков
			|  - 
			span(cityTo) Орел
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kharkov-tula")
		p.popular__price от #{kharkovTula}
			|  грн
		p.popular__name 
			span(cityFrom) Харьков
			|  - 
			span(cityTo) Тула
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kharkov-moskva")
		p.popular__price от #{kharkovMsk}
			|  грн
		p.popular__name 
			span(cityFrom) Харьков
			|  - 
			span(cityTo) Москва
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kharkov-sankt-peterburg")
		p.popular__price от #{kharkovPiter}
			|  грн
		p.popular__name 
			span(cityFrom) Харьков
			|  - 
			span(cityTo) Санкт-Петербург
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kharkov-krasnodar")
		p.popular__price от #{kharkovKrasnodar}
			|  грн
		p.popular__name 
			span(cityFrom) Харьков
			|  - 
			span(cityTo) Краснодар
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kharkov-rostov")
		p.popular__price от #{kharkovRostov}
			|  грн
		p.popular__name 
			span(cityFrom) Харьков
			|  - 
			span(cityTo) Ростов
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kharkov-djubga")
		p.popular__price от #{kharkovDjubga}
			|  грн
		p.popular__name 
			span(cityFrom) Харьков
			|  - 
			span(cityTo) Джубга
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kharkov-tuapse")
		p.popular__price от #{kharkovTuapse}
			|  грн
		p.popular__name 
			span(cityFrom) Харьков
			|  - 
			span(cityTo) Туапсе
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kharkov-lazarevskiy")
		p.popular__price от #{kharkovLazar}
			|  грн
		p.popular__name 
			span(cityFrom) Харьков
			|  - 
			span(cityTo) Лазаревский
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kharkov-sochi")
		p.popular__price от #{kharkovSochi}
			|  грн
		p.popular__name 
			span(cityFrom) Харьков
			|  - 
			span(cityTo) Сочи