.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-adler")
		p.popular__price от #{adlerPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Адлер
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-kislovodsk")
		p.popular__price от #{kislovodskPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Кисловодск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-stavropol")
		p.popular__price от #{stavropolPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Ставрополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-volgograd")
		p.popular__price от #{volgogradPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Волгоград
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-taganrog")
		p.popular__price от #{taganrogPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Таганрог
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-alushta")
		p.popular__price от #{alushtaPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Алушта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-tuapse")
		p.popular__price от #{tuapsePrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Туапсе
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-gelendjik")
		p.popular__price от #{gelendjikPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Геленджик
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-sochi")
		p.popular__price от #{sochiPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Сочи
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-feodosiya")
		p.popular__price от #{feodosiyaPrice}
			i.fa.fa-rub
		p.popular__name
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Феодосия
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-kerch")
		p.popular__price от #{kerchPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Керчь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-krasnodar")
		p.popular__price от #{krasnodarPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Краснодар
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-anapa")
		p.popular__price от #{anapaPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Анапа
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-moskva")
		p.popular__price от #{moskowPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Москва
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-belgorod")
		p.popular__price от #{belgorodPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Белгород
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-bryansk")
		p.popular__price от #{bryanskPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Брянск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-pavlovsk")
		p.popular__price от #{pavlovskPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Павловск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-rostov")
		p.popular__price от #{rostovPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Ростов
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-sevastopol")
		p.popular__price от #{sevastopolPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Севастополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-simferopol")
		p.popular__price от #{simferopolPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Симферополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-slavyansk-na-kubani")
		p.popular__price от #{slavyanskNaKubaniPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Славянск на Кубани
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-tula")
		p.popular__price от #{tulaPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Тула
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-orel")
		p.popular__price от #{orelPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Орел
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-voronej")
		p.popular__price от #{voronejPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Воронеж
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-kursk")
		p.popular__price от #{kurskPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Курск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-sankt-peterburg")
		p.popular__price от #{piterPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Санкт-Петербург
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-yalta")
		p.popular__price от #{yaltaPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Ялта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-livni")
		p.popular__price от #{livniPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Ливны
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-nijniy-novgorod")
		p.popular__price от #{nnPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Нижний Новгород
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-velikiy-novgorod")
		p.popular__price от #{vnPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Великий Новгород
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-alushta")
		p.popular__price от #{gorAlushtaPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Алушта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-feodosiya")
		p.popular__price от #{gorFeodosiyaPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Феодосия
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-kerch")
		p.popular__price от #{gorKerchPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Керчь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-rostov")
		p.popular__price от #{gorRostovPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Ростов
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-sevastopol")
		p.popular__price от #{gorSevastopolPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Севастополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-simferopol")
		p.popular__price от #{gorSimferopolPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Симферополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-slavyansk-na-kubani")
		p.popular__price от #{slavyanskNaKubaniPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Славянск на Кубани
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-yalta")
		p.popular__price от #{gorYaltaPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Ялта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gorlovka-moskva")
		p.popular__price от #{gorlovkaMskPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Горловка
			|  - 
			span(cityTo) Москва
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-sevastopol")
		p.popular__price от #{kievKrimPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Севастополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-simferopol")
		p.popular__price от #{kievKrimPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Симферополь
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-yalta")
		p.popular__price от #{kievKrimPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Ялта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-alushta")
		p.popular__price от #{kievKrimPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Алушта
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-moskva")
		p.popular__price от #{kievMskPrice}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Москва
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-krasnodar")
		p.popular__price от #{kievKrasnodar}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Краснодар
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-rostov")
		p.popular__price от #{kievRostov}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Ростов
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-djubga")
		p.popular__price от #{kievDjubga}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Джубга
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-tuapse")
		p.popular__price от #{kievTuapse}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Туапсе
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-lazarevskiy")
		p.popular__price от #{kievLazar}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Лазаревский
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-sochi")
		p.popular__price от #{kievSochi}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Сочи