.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kharkov-lublin")
		p.popular__price от #{kharkovLublin}
			|  грн
		p.popular__name 
			span(cityFrom) Харьков
			|  - 
			span(cityTo) Люблин
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kharkov-varshava")
		p.popular__price от #{kharkovVarshava}
			|  грн
		p.popular__name 
			span(cityFrom) Харьков
			|  - 
			span(cityTo) Варшава
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kharkov-shecin")
		p.popular__price от #{kharkovShecin}
			|  грн
		p.popular__name 
			span(cityFrom) Харьков
			|  - 
			span(cityTo) Щецин
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kharkov-gdansk")
		p.popular__price от #{kharkovGdansk}
			|  грн
		p.popular__name 
			span(cityFrom) Харьков
			|  - 
			span(cityTo) Гданськ
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kharkov-gdinya")
		p.popular__price от #{kharkovGdinya}
			|  грн
		p.popular__name 
			span(cityFrom) Харьков
			|  - 
			span(cityTo) Гдыня
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-lublin")
		p.popular__price от #{kievLublin}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Люблин
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-varshava")
		p.popular__price от #{kievVarshava}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Варшава
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-shecin")
		p.popular__price от #{kievShecin}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Щецин
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-gdansk")
		p.popular__price от #{kievGdansk}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Гданськ
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-kiev-gdinya")
		p.popular__price от #{kievGdinya}
			|  грн
		p.popular__name 
			span(cityFrom) Киев
			|  - 
			span(cityTo) Гдыня