extends ../_layout
block append head
	- transfer = true
	- ot = "Донецк"
	- to = "Феодосия"
	- city = ot +' - '+ to
	- category = "Международные рейсы"
	- pageImg = "https://vseputi.com.ua/img/content/city-pattern/feodosiya.jpg"
	meta(name="twitter:title" content="Купить билет на автобус #{city} от #{feodosiyaPrice}")
	include ../includes/modules/_meta
block content
	.main._feodosiya-bg
		.container
			.row
				.col-sm-12.col-xs-12
					h1.main__title.no-margin Купить билет на автобус #{city} 
						span от #{feodosiyaPrice}
							i.fa.fa-rub
	.container
		.row
			.col-sm-12.col-xs-12
				include ../includes/modules/_breadcrumbs
				h2.schedule__main-title
					i.fa.fa-calendar
					| Расписание автобусов 
					span(citys) Донецк (через Макеевка, Харцызск, Шахтерск, Торез) - Феодосия
	block moskow-way
		.schedule
			.container
				.schedule__section
					.row.hidden-xs
						.col-sm-4
							p.schedule__title Отправление (#{ot})
						.col-sm-4
							p.schedule__title Прибытие (#{to})
						.col-sm-2
							p.schedule__title В пути
						.col-sm-2
							p.schedule__title Стоимость билетов
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 06:00
										| Крытый рынок
									.schedule__auto Автобус (до 50 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 21:00 
										| Автовокзал
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ср, Сб<br>≈ 15 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 2 000
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 07:00
										| район Южного АВ
									.schedule__auto Автобус (до 50 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 22:00 
										| Автовокзал
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Пн, Чт, Сб<br>≈ 15 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 2 000
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 07:00
										| Крытый рынок, "Эльдорадо"
									.schedule__auto Автобус (до 50 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 22:00 
										| Заправка "Атан"
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Вт, Пт, Сб<br>≈ 15 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 900
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 09:00
										| район Южного АВ
									.schedule__auto Микроавтобус (до 19 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 07:00 
										| Автовокзал
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>≈ 22 часа
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 800
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 11:35
										| район Южного АВ
									.schedule__auto Автобус (до 50 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 02:35 
										| Автовокзал
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Пн, Ср, Пт, Вс<br>≈ 15 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 2 000
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 12:00
										| район Южного АВ
									.schedule__auto Автобус (до 50 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 08:00 
										| Автовокзал
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Вт, Сб<br>≈ 20 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 800
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 13:00
										| район Южного АВ
									.schedule__auto Микроавтобус (до 17 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 03:00 
										| Автовокзал
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Пн, Пт<br>≈ 15 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 2 000
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row.row-special(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 13:00
										| район Южного АВ
									.schedule__auto Автобус (до 50 мест)
									include ../includes/modules/_special-badge
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 03:00 
										| Автовокзал
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Пн, Пт<br>≈ 15 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong #{feodosiyaPrice}
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 16:00
										| район Южного АВ
									.schedule__auto Микроавтобус (до 17 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 07:00 
										| ост. "Пансионат Украина"
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Вт, Чт, Пт<br>≈ 15 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 2 000
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 17:10
										| Цирк, Фонтан
									.schedule__auto Автобус (до 50 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 08:00 
										| Нефтебаза
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Пн, Ср, Сб<br>≈ 15 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 800
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 18:30
										| АВ "Яма"
									.schedule__auto Автобус (до 50 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 08:30 
										| Автовокзал
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Сб, Вс<br>≈ 15 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 800
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
				br
				.back__link-wrap
					a.back__link.btn(href="/international/autobus-feodosiya-donetsk") <i class="fa fa-refresh fa-spin"></i> Посмотреть обратный маршрут
					
	include ../includes/modules/_share
	include ../includes/modules/_advantages
	include ../includes/modules/_attention
	.description
		.container
			.toggle-block__text
				h2.description__title Автобус #{city} (пассажирские автобусные перевозки в оба конца)
				p.description__text В связи с непростой обстановкой на Донбассе, очень сложно  добраться из Донецка в Феодосию . Наша транспортная компания «VSEPUTI» предоставляет комфортабельные  пассажирские автобусные перевозки #{city} через Россию ,маршрут таких перевозок осуществляется опытными и осведомленными водителями по максимально безопасному маршруту.  Купить билет на автобус #{city}  или забронировать место на определенную дату и время вы можете, заполнив форму на сайте или позвонив по номерам указанным на сайте. Если у вас нет желания или возможности лично выехать из Донецка по направлению  Донецк - Феодосия - Донецк , вы можете  передать багаж  нашим рейсом, цену на данную услугу вы можете узнать непосредственно у водителя автобуса, и она будет зависеть от размеров багажа.
				h2.description__title Расписание автобусов #{city}
				p.description__text  Расписание автобусов по направлению #{city}  выстроено с наиболее удобным временем отправления и прибытия маршрутов, учитывая так же нюансы пропускного времени через границу. На ваш выбор предоставляется  автобусы #{city}  в нескольких вариантах 46 местные и 8 местные (без пересадок), более подробную информацию вы можете узнать у менеджеров нашей диспетчерской службы по телефонам указанным на сайте.
			