extends ../_layout
block append head
	- ot = "Донецк"
	- to = "Белгород"
	- city = ot +' - '+ to
	- category = "Международные рейсы"
	- pageImg = "https://vseputi.com.ua/img/content/city-pattern/belgorod.jpg"
	meta(name="twitter:title" content="Купить билет на автобус #{city} от #{belgorodPrice}")
	include ../includes/modules/_meta
block content
	.main._belgorod-bg
		.container
			.row
				.col-sm-12.col-xs-12
					h1.main__title.no-margin Купить билет на автобус Донецк - Белгород 
						span от #{belgorodPrice}
							i.fa.fa-rub
	.container
		.row
			.col-sm-12.col-xs-12
				include ../includes/modules/_breadcrumbs
				h2.schedule__main-title
					i.fa.fa-calendar
					| Расписание автобусов 
					span(citys) Донецк (через Макеевка, Горловку, Енакиево, Алчевск) - Белгород
	block moskow-way
		.schedule
			.container
				.schedule__section
					.row.hidden-xs
						.col-sm-4
							p.schedule__title Отправление (#{ot})
						.col-sm-4
							p.schedule__title Прибытие (#{to})
						.col-sm-2
							p.schedule__title В пути
						.col-sm-2
							p.schedule__title Стоимость билетов
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 07:00
										| Мотель
										.schedule__auto Микроавтобус (до 17 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 23:00 
										| Автовокзал
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ср, Вс<br>≈ 16 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 700
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 07:00
										| Мотель
										.schedule__auto Микроавтобус (до 9 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 23:00 
										| Автовокзал
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Вс<br>≈ 16 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 2 000
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 13:45
										| Крытый рынок, "Эльдорадо"
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 08:00 
										| Автовокзал
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Пн, Чт<br>≈ 18 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 700
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 15:00
										| Дворец Бракосочетания
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 07:00 
										| Автовокзал
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Вт, Пт<br>≈ 16 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong #{belgorodPrice}
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 16:00 
										| Дворец Бракосочетания
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 07:00 
										| Автовокзал
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Каждое 2, 7, 12, 17, 22, 27 число месяца<br>≈ 15 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 800
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
				br
				.back__link-wrap
					a.back__link.btn(href="/international/autobus-belgorod-donetsk") <i class="fa fa-refresh fa-spin"></i> Посмотреть обратный маршрут
	include ../includes/modules/_share
	include ../includes/modules/_advantages
	include ../includes/modules/_attention
	.description
		.container
			.toggle-block__text
				h2.description__title Автобус Донецк - Белгород, пассажирские перевозки
				p.description__text Транспортная компания «VSEPUTI» осуществляет  автобусные пассажирские перевозки по направлению Донецк - Белгород . Сейчас это одно из самых популярных направлений, поэтому зачастую  купить билет на автобус Донецк - Белгород   достаточно проблематично. Однако, воспользовавшись услугами нашей компании, вы всегда сможете заранее  забронировать билет на автобус по направлению Донецк - Белгород  без труда, обеспечив себе место в комфортабельном автобусе на необходимое вам число и время. Еще одним преимуществом является то, что осуществлять посадку на автобус по маршруту Донецк - Белгород можно не только в начальном пункте отправки (Донецк), но и в городах через которые проложен маршрут Донецк-Белгород, а именно: Горловка, Енакиево, Макеевка, Харцызск, Шахтерск, Зугрес). Для этого в заявке на  бронирование билетов на автобус Донецк - Белгород  укажите желаемое место посадки, так вы будете уверены в том, что в не зависимости от города посадки на маршрут Донецк - Белгород за вами будет закреплено нужное количество мест.  Автобус Донецк - Белгород , это комфортабельные, безопасные перевозки в кротчайшие сроки.  Время в пути автобуса Донецк - Белгород  подсчитать достаточно сложно ведь это зависит от множества факторов, одним из которых является пересечение Российской границы. Однако стоит отметить, что купив  билеты на автобус Донецк - Белгород , вы можете быть абсолютно спокойны, и уверены в том, что автобус в максимально короткое время пройдет таможню и продолжит следовать по указанному маршруту. Это обусловлено наличием полного пакета документов у водителей автобусов нашей компании. Для вашего удобства, покупая билет из Донецка в Белгород, вы можете предварительно заказать билет в обратном направлении ( Белгород - Донецк ), на необходимую дату и удобное для вас время, вы можете это сделать как из Донецка, так и из Белгорода позвонив по российскому номеру телефона указанному на сайте. Автобус Донецк -Белгород, следует согласно графику, и  цены на   билеты на автобус   Донецк - Белгород  вы можете найти на нашем сайте или уточнить у менеджеров по телефонам. Вы можете так же воспользоваться услугой «Обратный звонок», после чего в максимально короткое время с вами свяжутся наши высококвалифицированные менеджеры, у которых вы можете уточнить все волнующие вас вопросы и аспекты, связанные с маршрутом Донецк -Белгороди заказом билетов в обе стороны.  Расписание автобусов Донецк - Белгород  насчитывает несколько маршрутов, с формированием автобусов из Донецка и из Горловки, так вы можете выбрать необходимое место посадки без дополнительных затрат на дорогу до места формирования автобуса по направлению Донецк-Белгород.  Купить билет на автобус Донецк - Белгород: Белгород - Донецк  вы можете, не выходя из дома заполнив форму на сайте или позвонив по указанным на сайте номерам телефонов. Более того покупая  билет на автобус Донецк - Белгород  вы можете быть уверены, что в любых ситуациях вы можете обращаться за помощью к нашим диспетчерам, которые помогут не только скоординировать вас по месту формирования автобуса, но и смогут разрешить форс мажорные ситуации.
			