extends ../_layout
block append head
	- ot = "Москва"
	- to = "Донецк"
	- city = ot +' - '+ to
	- category = "Международные рейсы"
	- pageImg = "https://vseputi.com.ua/img/content/city-pattern/donetsk.jpg"
	meta(name="twitter:title" content="Купить билет на автобус #{city} от #{moskowDonPrice}")
	include ../includes/modules/_meta
block content
	.main._donetsk-bg
		.container
			.row
				.col-sm-12.col-xs-12
					h1.main__title.no-margin Купить билет на автобус #{city} 
						span от #{moskowDonPrice}
						i.fa.fa-rub
	.container
		.row
			.col-sm-12.col-xs-12
				include ../includes/modules/_breadcrumbs
				h2.schedule__main-title
					i.fa.fa-calendar
					| Расписание автобусов 
					span(citys) #{city}
	block moskow-way
		.schedule
			.container
				.schedule__section
					.row.hidden-xs
						.col-sm-4
							p.schedule__title Отправление (#{ot})
						.col-sm-4
							p.schedule__title Прибытие (#{to})
						.col-sm-2
							p.schedule__title В пути
						.col-sm-2
							p.schedule__title Стоимость билетов
					.row.row-special(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 09:50 
										| ст. м. Щелковская
										.schedule__auto Автобус (до 50 мест)
										include ../includes/modules/_special-badge
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 08:30 
										| ТРЦ "Грин Плаза"
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Нечетные дни<br>≈ 22 час
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong #{moskowDonPrice}
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 10:30 
										| ст. м. Новоясеневская
										.schedule__auto Автобус (до 50 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 08:30 
										| Крытый рынок, "Эльдорадо"
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Пн, Вт, Ср, Пт, Сб<br>≈ 22 час
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 2 500
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 10:30 
										| ст. м. Новоясеневская
										.schedule__auto Автобус (до 50 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 08:30 
										| Крытый рынок, "Эльдорадо"
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Чт, Вс<br>≈ 22 час
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 2 500
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 11:00 
										| ст. м. Щелковская
										.schedule__auto Автобус (до 50 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 06:00 
										| Мотель
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ср, Пт, Вс<br>≈ 19 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 2 300
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 13:00 
										| ст. м. Новоясеневская
										.schedule__auto Автобус (до 50 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 10:00 
										| район Южного АВ
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>≈ 21 час
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 2 500
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 14:00 
										| ст. м. Новоясеневская
										.schedule__auto Автобус (до 50 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 09:00 
										| Крытый рынок
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Вт, Чт, Вс<br>≈ 19 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 2 500
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 15:00 
										| ст. м. Новоясеневская
										.schedule__auto Автобус (до 50 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 10:00 
										| Крытый рынок
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Вт, Чт, Вс<br>≈ 19 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 2 500
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 16:10 
										| ст. м. Красногвардейская
										br
										small (через Ясиноватая, Горловка)
										.schedule__auto Автобус (до 50 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 14:10 
										| АВ "Южный"
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Нечетные дни<br>≈ 22 часа
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 2 170
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 17:00 
										| ст. м. Новоясеневская
										.schedule__auto Автобус (до 50 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 15:00 
										| район Южного АВ
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Чт, Вс<br>≈ 22 часа
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 2 500
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 19:00 
										| ст. м. Новоясеневская
										.schedule__auto Автобус (до 50 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 17:00 
										| "Золотое кольцо"
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Вт, Сб<br>≈ 22 часа
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 2 500
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 20:00 
										| ст. м. Новоясеневская
										.schedule__auto Автобус (до 50 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 18:00 
										| АВ "Южный"
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ср, Вс<br>≈ 22 часа
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 2 500
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 21:30 
										| ст. м. Новоясеневская
										.schedule__auto Автобус (до 50 мест)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 19:30 
										| Крытый рынок, "Эльдорадо"
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно (кроме Вс)<br>≈ 22 часа
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 2 500
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
				br
				.back__link-wrap
					a.back__link.btn(href="/international/autobus-donetsk-moskva") <i class="fa fa-refresh fa-spin"></i> Посмотреть обратный маршрут
					
	include ../includes/modules/_share
	include ../includes/modules/_advantages
	include ../includes/modules/_attention
	.description
		.container
			.toggle-block__text
				h2.description__title Автобус Москва-Донецк
				p.description__text Чтобы без особых усилий, пересадок и использования личного транспорта добраться из Москвы в Донецк – подойдут автобусные пассажирские перевозки. Поездка займет примерно от 19 до 22 часов, точное время в пути подсчитать достаточно сложно, так как оно зависит от множества факторов, основными из которых являются погодные условия и прохождение границы. Наша служба сотрудничает только с проверенными и легальными транспортными компаниями и опытными перевозчиками, у которых есть разрешительные документы, что позволяет сократить время прохождения границы и сделать вашу поездку максимально безопасной. 
				h3.description__title Удобное расписание автобусов Москва-Донецк
				p.description__text Диспетчерская служба «Vseputi» предоставляет 10 рейсов по данному направлению. Это дает возможность выбрать наиболее подходящее время отправления и прибытия, а так же день недели, ведь наряду с ежедневными маршрутами предоставляются те, которые курсируют по определенным дням. Цена билетов различается не существенно, поэтому наши пассажиры могут больше ориентироваться на планировании поездки, нежели на сравнительную характеристику цен.
				h3.description__title Как забронировать билеты онлайн?
				p.description__text Из-за высокого спроса на данный рейс, рекомендуем заранее осуществлять бронирование билетов на автобусы из Москвы до Донецка. Заказать нужное количество мест можно по телефонам указанным на сайте, либо заполнив форму, всплывающую после нажатия на кнопку «Забронировать». Убедитесь в том, что вы правильно ввели свой номер телефона, так как после заявки с вами должен связаться наш диспетчер и подтвердить бронирование. После этого за день до отправления с вами снова свяжется диспетчер с уточнениями номера автобуса и точном месте его формирования.  Оплата билета производится непосредственно в автобусах водителю маршрута. 
				p.description__text Наша компания предоставляет только исправные, удобные и оснащенные техникой автобусы (TV,Wi-Fi, система обогрева и кондиционирования). Поэтому после заказа билета вы можете быть уверены о комфортабельности поездки.