extends ../_layout
block append head
	- ot = "Артемовск (Бахмут)"
	- to = "Орел"
	- city = ot +' - '+ to
	- category = "Международные рейсы"
	- pageImg = "https://vseputi.com.ua/img/content/main-pattern.jpg"
	include ../includes/modules/_meta
block content
	.main._orel-bg
		.container
			.row
				.col-sm-12.col-xs-12
					h1.main__title.no-margin Купить билет на автобус #{city} 
						span от #{artOrel}
							|  грн
	.container
		.row
			.col-sm-12.col-xs-12
				include ../includes/modules/_breadcrumbs
				- hCity = "Орла"
				include ../includes/hotels/_hotel-btn
				h2.schedule__main-title
					i.fa.fa-table
					| Расписание автобусов 
					span(citys) #{city}
	block moskow-way
		.schedule
			.container
				.schedule__section
					.row.hidden-xs
						.col-sm-4
							p.schedule__title Отправление (#{ot})
						.col-sm-4
							p.schedule__title Прибытие (#{to})
						.col-sm-2
							p.schedule__title В пути
						.col-sm-2
							p.schedule__title Стоимость билетов
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 17:00 
										| Автовокзал
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 03:00 
										| Автовокзал
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Чт, Пт, Сб<br>≈ 10 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 500
											|  грн
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 17:00 
										| Автовокзал
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 03:00 
										| Автовокзал
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>≈ 10 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong #{artOrel}
											|  грн
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
				br
				.text-center
					a.back__link.btn(href="/international/autobus-orel-artemovsk") <i class="fa fa-refresh fa-spin"></i> Посмотреть обратный маршрут
	include ../includes/modules/_share
	include ../includes/hotels/_orel-hotels
	include ../includes/modules/_advantages
	include ../includes/modules/_attention
	.description
		.container
			.toggle-block__text
				- iz = "Артемовска";
				- izN = "Орла";
				- v = "Орел";
				- vN = "Артемовск";
				h2.description__title  Автобус #{city} 
				p.description__text Вам нужно быстро, комфортно и недорого  добраться из #{iz} в #{v} ? В этом случае вам подойдут автобусные пассажирские перевозки. Это самый дешевый и достаточно комфортабельный вид транспорта. Наша диспетчерская служба Vseputi предлагает забронировать билеты на  автобус #{city}  по низким ценам на нужное число и удобное для вас время. Новые комфортабельные автобусы и профессиональные водители сделают вашу поездку не только комфортной, но и максимально безопасной. 
				p.description__text  Маршрут #{city}  проложен по скоростным трассам, что значительно сократит время пребывания в пути. Более того перевозчики предоставляющие транспортные услуги имеют все необходимые документы и разрешения, что так же сократит время прохождения границы и общее время поездки. 
				p.description__text Все предоставляемые автобусы, в том числе  автобус #{city} , оснащены телевизорами и кондиционерами, что внесет еще больший уют и комфорт в пути. В некоторых автобусах предусмотрены точки доступа  Wi-Fi, которым вы можете воспользоваться, находясь непосредственно в пути. Более полную информацию вы можете уточнить у диспетчеров компании.
				h2.description__title  Купить билет на автобус #{city} 
				p.description__text  Купить билет на автобус #{city}  достаточно проблематично из-за высокого спроса на данный рейс, именно по этому, на нашем сайте вы можете заблаговременно  забронировать билет на автобус #{city}  в режиме онлайн или же позвонив по указанным номерам телефонов. Опытные и вежливые диспетчера ответят на все волнующие вас вопросы, а при отсутствии мест на рейс, предложат другие варианты, из которых вы можете выбрать подходящий и удобный для вас. Обращаем ваше внимание, что оплата  производится непосредственно при посадке в автобус водителю.  Приобрести билет на автобус #{city}  можно за две, три недели до назначенной даты, при этом за день до отправки с вами свяжутся наши диспетчера либо непосредственно перевозчики, напоминая о поездке и уточняя номер автобуса. Если по каким либо причинам вы опаздываете на  рейс #{city} , водитель еще раз с вами созванивается, уточняя информацию.
				h2.description__title  Билеты на автобус #{city}: онлайн бронирование 
				p.description__text Компания Vseputi предоставляет услугу  онлайн бронирования билетов , так  билеты на автобус #{city}  вы можете забронировать всего в несколько кликов. Выбрав нужный вам рейс, нажмите на кнопку «Выбрать», после чего на экране появится форма «Забронировать места». Обращаем ваше внимание, что в первой строке формы необходимо указать из какого города будет осуществляться посадка, это может быть как начальный пункт отправления (#{vN}), так и города находящиеся по маршруту. Затем необходимо выбрать нужную дату и количество мест. Что бы  забронировать билет на автобус #{city} , внимательно заполните строку с вашим номером телефона. В случае ошибки наши диспетчера не смогут подтвердить бронь, и место за вами будет не закреплено. Так же для удобства в общении при подтверждении заказа на  онлайн бронирование билетов  заполните строку с Фамилией и именем.
				p.description__text Для вашего удобства во время бронирования билета на  автобус #{city} , вы сразу можете  забронировать билет на обратный рейс  (#{v} - #{vN}) на нужную дату и время. Забронировать  билет на обратный рейс #{v} - #{vN}  вы можете, воспользовавшись формой для онлайн бронирования билетов, либо позвонив по номерам указанным на сайте (в верхнем правом углу). Заблаговременно  купить билет на автобус #{v} - #{vN}  вы можете как из #{iz}, так и из #{izN} позвонив на украинский номер телефона. 
				p.description__text Бронируя  билет на автобус #{city}  в нашей диспетчерской компании Vseputi, вы можете быть уверенны в том, что в любой ситуации наши операторы в максимально короткое сроки смогут уладить все возникшие проблемы. А так же ответить на все ваши вопросы и скоординировать по месту формирования автобуса.
				h2.description__title  Автобус #{city}: расписание рейсов 
				p.description__text  Расписание автобусов #{city} , насчитывает несколько рейсов различных по времени отправления и прибытия автобуса в пункт назначения. Однако хотим в очередной раз обратить ваше внимание на время прибытия и  время в пути автобуса #{city} , на сайте указано примерное время, без учета форс-мажорных ситуаций.  На время прохождение таможни как вы понимаете повлиять кардинальным образом нельзя, однако все возможные меры по сокращению времени в пути уже предприняты (наличие документов, профессиональные водители со стажем, максимально короткий путь).
				h2.description__title  Цена билета на автобус #{city} 
				p.description__text  Цены на автобус #{city}  вы можете найти на сайте или уточнить у наших менеджеров по указанным телефонам. Вы так же можете заказать услугу обратного звонка, после чего в максимально короткое время с вами свяжется наш оператор, у которого вы можете узнать все интересующие вас вопросы. Для более комфортного и дешевого проезда наша компания предлагает одно, а по некоторым маршрутам два бесплатных багажных места. 
				p.description__text На все предоставляемые рейсы, в том числе и  #{city} , предоставляется уникальная дисконтная программа для детей (до 12 лет). Все подробности вы можете узнать у диспетчеров компании Vseputi.
			