extends ../_layout
block append head
	- ot = "Славянск на Кубани"
	- to = "Горловка"
	- city = ot +' - '+ to
	- category = "Международные рейсы"
	- pageImg = "https://vseputi.com.ua/img/content/main-pattern.jpg"
	meta(name="twitter:title" content="Купить билет на автобус #{city} от #{slavyansknakubaniGorPrice}")
	include ../includes/modules/_meta
block content
	.main
		.container
			.row
				.col-sm-12.col-xs-12
					h1.main__title.no-margin Купить билет на автобус #{city} 
						span от #{slavyansknakubaniGorPrice}
							i.fa.fa-rub
	.container
		.row
			.col-sm-12.col-xs-12
				include ../includes/modules/_breadcrumbs
				h2.schedule__main-title
					i.fa.fa-calendar
					| Расписание автобусов 
					span(citys) Славянск на Кубани - Горловка (через Eнакиево, Харцызск, Зугрес, Шахтерск, Матвеев Курган)
	block moskow-way
		.schedule
			.container
				.schedule__section
					.row.hidden-xs
						.col-sm-4
							p.schedule__title Отправление (#{ot})
						.col-sm-4
							p.schedule__title Прибытие (#{to})
						.col-sm-2
							p.schedule__title В пути
						.col-sm-2
							p.schedule__title Стоимость билетов
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 21:00
										| Автовокзал
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 12:00 
										| Кочегарка
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>≈ 15 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong #{slavyansknakubaniGorPrice}
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
				br
				.back__link-wrap
					a.back__link.btn(href="/international/autobus-gorlovka-slavyansk-na-kubani") <i class="fa fa-refresh fa-spin"></i> Посмотреть обратный маршрут
					
	include ../includes/modules/_share
	include ../includes/modules/_advantages
	include ../includes/modules/_attention
	//- .description
		.container
			.toggle-block__text
				h2//- .description__title Автобус #{city}, пассажирские перевозки
				p//- .description__text Транспортная компания «VSEPUTI» осуществляет  автобусные пассажирские перевозки по направлению #{city} . Зачастую  купить билет на автобус #{city}  достаточно проблематично, однако, воспользовавшись услугами нашей компании, вы всегда сможете заранее  забронировать билет на автобус по направлению #{city}  без труда, обеспечив себе место в комфортабельном автобусе на необходимое вам число и время. Еще одним преимуществом является то, что осуществлять посадку на автобус по маршруту #{city} можно не только в начальном пункте отправки (Славянск на Кубани), но и в городах через которые проложен маршрут. Для этого в заявке на  бронирование билетов на автобус #{city}  укажите желаемое место посадки, так вы будете уверены в том, что в не зависимости от города посадки на маршрут #{city} за вами будет закреплено нужное количество мест.  Автобус #{city} , это комфортабельные, безопасные перевозки в кротчайшие сроки.  Время в пути автобуса #{city}  подсчитать достаточно сложно ведь это зависит от множества факторов, одним из которых является пересечение Российской границы. Однако стоит отметить, что купив  билеты на автобус #{city} , вы можете быть абсолютно спокойны, и уверены в том, что автобус в максимально короткое время пройдет таможню и продолжит следовать по указанному маршруту. Это обусловлено наличием полного пакета документов у водителей автобусов нашей компании. Для вашего удобства, покупая билет из Славянска на Кубани в Горловку, вы можете предварительно заказать билет в обратном направлении ( #{city} ), на необходимую дату и удобное для вас время. Вы можете это сделать как из Славянска на Кубани, так и из Горловки позвонив по российскому номеру телефона указанному на сайте. Автобус  #{city} , следует согласно графику, и  цены на   билеты на автобус   #{city}  вы можете найти на нашем сайте или уточнить у менеджеров по телефонам. Вы можете так же воспользоваться услугой «Обратный звонок», после чего в максимально короткое время с вами свяжутся наши высококвалифицированные менеджеры, у которых вы можете уточнить все волнующие вас вопросы и аспекты, связанные с маршрутом #{city} и заказом билетов в обе стороны.  Расписание автобусов #{city}  насчитывает несколько маршрутов, так вы можете выбрать необходимое место посадки без дополнительных затрат на дорогу до места формирования автобуса по направлению #{city}.  Купить билет на автобус #{city}: Горловка - Славянск на Кубани  вы можете, не выходя из дома заполнив форму на сайте или позвонив по указанным на сайте номерам телефонов. Более того покупая  билет на автобус #{city}  вы можете быть уверены, что в любых ситуациях вы можете обращаться за помощью к нашим диспетчерам, которые помогут не только скоординировать вас по месту формирования автобуса, но и смогут разрешить форс мажорные ситуации.
			