extends ../_layout
block append head
	- var city = "Донецк - Ливны"
	- category = "Международные рейсы"
	- pageImg = "http://vseputi.com.ua/img/content/main-pattern.jpg"
	include ../includes/modules/_meta
block content
	.main
		.container
			.row
				.col-sm-12.col-xs-12
					h1.main__title.no-margin Купить билет на автобус #{city} 
						span от #{livniPrice}
							i.fa.fa-rub
	.container
		.row
			.col-sm-12.col-xs-12
				include ../includes/modules/_breadcrumbs
				h2.schedule__main-title
					i.fa.fa-table
					| Расписание автобусов 
					span(citys) #{city}
	block moskow-way
		.schedule
			.container
				.schedule__section
					.row.hidden-xs
						.col-sm-4
							p.schedule__title Отправление
						.col-sm-4
							p.schedule__title Прибытие
						.col-sm-2
							p.schedule__title В пути
						.col-sm-2
							p.schedule__title Стоимость
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 07:00 
										| Мотель
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 22:00 
										| АВ "Ливны-1"
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Пн, Чт<br>≈ 15 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 2 000
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 07:00 
										| Крытый рынок 
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 22:00 
										| АВ "Ливны-1"
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Сб<br>≈ 15 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 800
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 15:00 
										| АВ "Южный" 
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 06:00 
										| АВ "Ливны-1"
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ср, Сб<br>≈ 15 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 2 000
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 18:00 
										| Крытый рынок, "Эльдорадо"
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 16:00 
										| Въезд в город
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Вт, Пт, Вс<br>≈ 17 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong #{livniPrice}
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
				br
				.text-center
					a.back__link.btn(href="/international/autobus-livni-donetsk") <i class="fa fa-refresh fa-spin"></i> Посмотреть обратный маршрут
	include ../includes/modules/_share
	include ../includes/modules/_advantages
	include ../includes/modules/_attention
	.description
		.container
			.toggle-block__text
				h2.description__title Автобус #{city}, пассажирские перевозки
				p.description__text Транспортная компания «VSEPUTI» осуществляет  автобусные пассажирские перевозки по направлению #{city} . Сейчас это одно из самых популярных направлений, поэтому зачастую  купить билет на автобус #{city}  достаточно проблематично. Однако, воспользовавшись услугами нашей компании, вы всегда сможете заранее  забронировать билет на автобус по направлению #{city}  без труда, обеспечив себе место в комфортабельном автобусе на необходимое вам число и время. Еще одним преимуществом является то, что осуществлять посадку на автобус по маршруту #{city} можно не только в начальном пункте отправки (Донецк), но и в городах через которые проложен маршрут #{city}, а именно: Горловка, Енакиево, Макеевка, Харцызск, Шахтерск, Зугрес). Для этого в заявке на  бронирование билетов на автобус #{city}  укажите желаемое место посадки, так вы будете уверены в том, что в не зависимости от города посадки на маршрут Донецк -Ливны за вами будет закреплено нужное количество мест.  Автобус #{city} , это комфортабельные, безопасные перевозки в кротчайшие сроки.  Время в пути автобуса #{city}  подсчитать достаточно сложно ведь это зависит от множества факторов, одним из которых является пересечение Российской границы. Однако стоит отметить, что купив  билеты на автобус #{city} , вы можете быть абсолютно спокойны, и уверены в том, что автобус в максимально короткое время пройдет таможню и продолжит следовать по указанному маршруту. Это обусловлено наличием полного пакета документов у водителей автобусов нашей компании. Для вашего удобства, покупая билет из Донецка в Ливны, вы можете предварительно заказать билет в обратном направлении ( Ливны   - Донецк ), на необходимую дату и удобное для вас время, вы можете это сделать как из Донецка, так и из Ливныа позвонив по российскому номеру телефона указанному на сайте. Автобус #{city}, следует согласно графику, и  цены на   билеты на автобус   #{city}  вы можете найти на нашем сайте или уточнить у менеджеров по телефонам. Вы можете так же воспользоваться услугой «Обратный звонок», после чего в максимально короткое время с вами свяжутся наши высококвалифицированные менеджеры, у которых вы можете уточнить все волнующие вас вопросы и аспекты, связанные с маршрутом #{city} и заказом билетов в обе стороны.  Расписание автобусов #{city}  насчитывает несколько маршрутов, с формированием автобусов из Донецка, так вы можете выбрать необходимое место посадки без дополнительных затрат на дорогу до места формирования автобуса по направлению #{city}.  Купить билет на автобус #{city}: Ливны   - Донецк  вы можете, не выходя из дома заполнив форму на сайте или позвонив по указанным на сайте номерам телефонов. Более того покупая  билет на автобус #{city}  вы можете быть уверены, что в любых ситуациях вы можете обращаться за помощью к нашим диспетчерам, которые помогут не только скоординировать вас по месту формирования автобуса, но и смогут разрешить форс мажорные ситуации.
			