extends ../_layout
block append head
	- ot = "Тула"
	- to = "Донецк"
	- city = ot +' - '+ to
	- category = "Международные рейсы"
	- pageImg = "https://vseputi.com.ua/img/content/city-pattern/donetsk.jpg"
	meta(name="twitter:title" content="Купить билет на автобус #{city} от #{tulaDonPrice}")
	include ../includes/modules/_meta
block content
	.main._donetsk-bg
		.container
			.row
				.col-sm-12.col-xs-12
					h1.main__title.no-margin Купить билет на автобус #{city} 
						span от #{tulaDonPrice}
							i.fa.fa-rub
	.container
		.row
			.col-sm-12.col-xs-12
				include ../includes/modules/_breadcrumbs
				h2.schedule__main-title
					i.fa.fa-calendar
					| Расписание автобусов 
					span(citys) #{city}
	block moskow-way
		.schedule
			.container
				.schedule__section
					.row.hidden-xs
						.col-sm-4
							p.schedule__title Отправление (#{ot})
						.col-sm-4
							p.schedule__title Прибытие (#{to})
						.col-sm-2
							p.schedule__title В пути
						.col-sm-2
							p.schedule__title Стоимость билетов
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 13:00 
										| АВ "Центральный"
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 09:00 
										| район Южного АВ
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>≈ 20 час
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 800
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 15:00 
										| Поворот на Тулу
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 12:00 
										| район Южного АВ
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>≈ 21 час
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 800
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 17:00 
										| Автовокзал
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 14:00 
										| район Южного АВ
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Вт, Чт, Вс<br>≈ 21 час
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 800
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 20:00 
										| Автовокзал
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 17:00 
										| район Южного АВ
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Чт, Вс<br>≈ 21 час
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong #{tulaDonPrice}
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 21:00 
										| Поворот на Тулу
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 18:00 
										| район Южного АВ
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Вт, Сб<br>≈ 21 час
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 800
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 23:30 
										| Поворот на Тулу
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 20:30 
										| район Южного АВ
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Пн, Чт, Пт, Сб<br>≈ 21 час
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 800
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
				br
				.back__link-wrap
					a.back__link.btn(href="/international/autobus-donetsk-tula") <i class="fa fa-refresh fa-spin"></i> Посмотреть обратный маршрут
					
	include ../includes/modules/_share
	include ../includes/modules/_advantages
	include ../includes/modules/_attention
	.description
		.container
			.toggle-block__text
				h2.description__title Автобус Тула - Донецк (пассажирские автобусные перевозки в оба конца)
				p.description__text На сегодняшний день пассажирские перевозки из России в Донецк стали весьма популярны. Компания «VSEPUTI» предоставляет регулярные,  пассажирские перевозки из Тулы в Донецк . Наша транспортная компания охватывает наиболее популярные маршруты  автобусных пассажирских перевозок из Тулы , такие как: Донецк-Москва, Донецк-Севастополь, Донецк-Ростов, Донецк-Тула и другие. С помощью нашей транспортной компании вы также можете забронировать билеты на обратный маршрут  из Тулы в Донецк  на необходимую вам дату и удобное для вас время. Компания «VSEPUTI» сотрудничает только с проверенными и надежными перевозчиками, которые заботятся о вашем комфорте и безопасности, что подтверждает наличие международной лицензии на пассажирские перевозки.  Автобусы Тула - Донецк  следуют по четко установленному расписанию и графику отправления, которое указанно на нашем сайте.  Цена билета на автобус Тула - Донецк  указана на сайте, ее вы так же можете уточнить у менеджеров по указанным телефонам. Все волнующие вас вопросы вы так же можете уточнить у представителей нашей транспортной компании.
				h2.description__title Заказ и бронирование билетов на автобус Тула - Донецк (онлайн)
				p.description__text Преимуществом компании «VSEPUTI» является гарантированное  бронирование билетов на автобус Тула - Донецк  в любом направление в режиме онлайн, для этого вы можете оставить заявку на нашем сайте, указав необходимые данные, после чего с вами свяжутся наши менеджеры. Так же  купить билеты на автобус из Тулы , можно позвонив по размещенным на сайте номерам телефонов или воспользовавшись услугой «Обратный звонок». Так вы обеспечите себя стопроцентной гарантией отъезда в запланированный день и час, более того вам не придётся выстаивать длинные очереди в кассах что бы  купить билеты на автобус Тула - Донецк . Оплата заказанных предварительно билетов на автобус Тула - Донецк осуществляется непосредственно во время посадки в автобус, водителю. Наши высококвалифицированные менеджеры в телефонном режиме смогут ответить на все волнующие вас вопросы, более того вы можете рассчитывать на быструю координацию действий в непредвиденных ситуациях. Покупая  билеты на автобус из Донецка , вы можете быть уверенны, что с комфортом доберетесь до места назначения.  Расписание автобусов по направлению Тула - Донецк  выстроено с наиболее удобным временем отправления и прибытия маршрутов, существует достаточно большое количество рейсов по данному направлению, которые формируются в разных частях города, что дает вам право выбрать наиболее удобный рейс.
			